@font-face {
  font-family: 'UTM Avo';
  src: url('../fonts/font-web/UTM Avo.eot'),
       url('../fonts/font-web/UTM Avo.eot?#iefix') format('embedded-opentype'),
       url('../fonts/font-web/UTMAvo.woff') format('woff'),
       url('../fonts/font-web/UTMAvo.ttf') format('truetype'),
       url('../fonts/font-web/UTMAvo.svg#UTMAvo') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UTM Avo';
  src: url('../fonts/font-web/UTM AvoBold.eot'),
       url('../fonts/font-web/UTM AvoBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/font-web/UTMAvoBold.woff') format('woff'),
       url('../fonts/font-web/UTMAvoBold.ttf') format('truetype'),
       url('../fonts/font-web/UTMAvoBold.svg#UTMAvoBold') format('svg');
  font-weight: bold;
  font-style: normal;
}