:focus {
    outline: none;
}

body {
    /*font-family: Myriad Pro;*/
    font-family: 'UTM Avo';
    font-size: 14px;
    line-height: 22px;
    color: #000;
}

ul, li, ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

a:hover, a:focus {
    text-decoration: none;
}

p {
    margin: 0;
}

#wrapper {
    overflow: hidden;
    position: absolute;
    min-height: 100%;
    width: 100%;
    z-index: 1;
}

#wrapper-in {
    background-color: #fff;
    /*background: url(../images/header-bg.jpg) repeat center top;*/
    top: 0;
    left: 0;
    position: relative;
    width: 100%;
    z-index: 99;
    overflow: hidden;
}

.clr {
    clear: both;
}

a:visited, a:focus {
    outline: none;
}

.container {
    width: 1230px;
}
/*========================header=================*/
#header {
    position: relative;
    width: 100%;
    z-index: 10;
    height: 86px;
    border-bottom: 3px solid #000;
}

    #header::after {
        position: absolute;
        content: "";
        height: 1px;
        background: #000;
        bottom: 3px;
        left: 0;
        width: 100%;
    }
    /*= logo =*/
    #header .logo {
        width: 225px;
        display: inline-block;
        vertical-align: top;
        margin-top: 20px;
    }

        #header .logo img {
            max-width: 100%;
            display: block;
            margin: 0 auto;
        }

    #header .right-head {
        width: calc(100% - 229px);
        display: inline-block;
        vertical-align: top;
        padding-left: 100px;
    }

        #header .right-head .menu-desktop {
            display: inline-block;
        }

            #header .right-head .menu-desktop > ul > li {
                display: inline-block;
                padding: 0 20px;
                line-height: 82px;
            }

                #header .right-head .menu-desktop > ul > li > a {
                    font-size: 16px;
                    font-weight: bold;
                    text-transform: uppercase;
                    color: #000;
                }

                #header .right-head .menu-desktop > ul > li:hover > a, #header .right-head .menu-desktop > ul > li:focus > a, #header .right-head .menu-desktop > ul > li.active > a {
                    color: #0096b1;
                }

        #header .right-head .ico-head {
            float: right;
            margin-top: 25px;
        }
            #header .right-head .ico-head .search {
                position:relative;
                cursor:pointer;
            }
            #header .right-head .ico-head .form {
                display: none;
                position:absolute;
                top:100%;
                right:0;
                z-index:1;
            }
            #header .right-head .ico-head .form input[type="text"]{
                width:250px;
                height:30px;
                border:1px solid rgba(0, 0, 0, 0.15);
                padding:0 10px;
                background:#fff;
            }

            #header .right-head .ico-head .form input[type="submit"]{
                width:30px;
                height:30px;
                position:absolute;
                top:0;
                right:0;
                z-index:2;
                background:#000 url(../images/search.png) no-repeat;
                border:0;
            }

            #header .right-head .ico-head .cir {
                display: inline-block;
                vertical-align: top;
            }

.cate-thuonghieu .cate-item {
    margin: 0 -10px;
}

    .cate-thuonghieu .cate-item .item {
        padding: 10px;
        display: inline-block;
        width: calc(33.3333% - 4px);
    }

        .cate-thuonghieu .cate-item .item img {
            max-width: 100%;
        }

.sec-id {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

    .sec-id h2 {
        position: relative;
        display: inline-block;
        margin: 0;
        font-size: 26px;
        color: #000;
        font-weight: bold;
        text-transform: uppercase;
    }

        .sec-id h2::before {
            position: absolute;
            content: "";
            background: url(../images/bor.png) no-repeat;
            width: 39px;
            height: 6px;
            top: 0;
            bottom: 0;
            left: calc(100% + 25px);
            margin: auto;
        }

        .sec-id h2::after {
            position: absolute;
            content: "";
            background: url(../images/bor.png) no-repeat;
            width: 39px;
            height: 6px;
            top: 0;
            bottom: 0;
            right: calc(100% + 25px);
            margin: auto;
        }

/* default */
.camket {
    margin: 0 -12px;
    margin-top: 25px;
}

    .camket .item {
        width: calc(25% - 4px);
        display: inline-block;
        padding: 0 12px;
        vertical-align: top;
        border: 2px solid #0097b2;
        position: relative;
        height: 83px;
    }

        .camket .item .item-wrap {
            padding-left: 50px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            -webkit-transform: translate(-50%,-50%);
            -moz-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            -o-transform: translate(-50%,-50%);
            width: 75%;
        }

            .camket .item .item-wrap h3 {
                margin: 0;
                font-size: 16px;
                color: #0492ab;
                text-transform: uppercase;
                font-weight: bold;
            }

            .camket .item .item-wrap p {
                font-size: 13px;
            }

        .camket .item:nth-of-type(1) .item-wrap {
            background: url(../images/camket.png) no-repeat left center;
        }

        .camket .item:nth-of-type(2) .item-wrap {
            background: url(../images/giaothong.png) no-repeat left center;
        }

        .camket .item:nth-of-type(3) .item-wrap {
            background: url(../images/chuyenkhoan.png) no-repeat left center;
        }

        .camket .item:nth-of-type(4) .item-wrap {
            background: url(../images/trahang.png) no-repeat left center;
        }



/* pro-cate */
.pro-cate {
    margin: 0 -9px;
    border-bottom: 1px solid #d5d5d5;
}

    .pro-cate .item {
        width: calc(25% - 4px);
        display: inline-block;
        vertical-align: top;
        padding: 15px 9px;
        border: 1px solid transparent;
        margin-bottom: 10px;
        transition: all 0.5s ease;
    }

        .pro-cate .item:hover {
            border-color: #d5d5d5;
        }

        .pro-cate .item .item-wrap {
        }

        .pro-cate .item .item-img {
            position: relative;
            overflow: hidden;
        }

            .pro-cate .item .item-img .new {
                width: 150px;
                height: 25px;
                background: #0492ab;
                position: absolute;
                top: 15px;
                right: -45px;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                z-index: 2;
            }

                .pro-cate .item .item-img .new > p {
                    color: #fff;
                    font-weight: bold;
                    text-align: center;
                    text-transform: uppercase;
                    margin: 0;
                    line-height: 25px;
                }

            .pro-cate .item .item-img .hot {
                width: 150px;
                height: 25px;
                background: #f20707;
                position: absolute;
                top: 15px;
                right: -45px;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                z-index: 2;
            }

                .pro-cate .item .item-img .hot > p {
                    color: #fff;
                    font-weight: bold;
                    text-align: center;
                    text-transform: uppercase;
                    margin: 0;
                    line-height: 25px;
                }



            .pro-cate .item .item-img img {
                max-width: 100%;
            }

        .pro-cate .item .item-content > a {
            color: #000;
            font-size: 15px;
            line-height: 22px;
        }

        .pro-cate .item .item-content > p {
            margin-top: 15px;
            margin-bottom: 0;
            color: #006779;
            font-size: 16px;
        }

            .pro-cate .item .item-content > p > span {
                font-size: 14px;
                text-decoration: line-through;
                color: #000;
                margin-left: 10px;
                display: inline-block;
            }

/* site-products */
.wrap-pro {
    padding-top: 45px;
}

.aside-left {
    width: 270px;
    display: inline-block;
    vertical-align: top;
}

    .aside-left > h3 {
        margin: 0;
        font-size: 14px;
        color: #010101;
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    .aside-left .sec-pro {
        padding: 15px 0 10px 35px;
        border: 1px solid #0492ab;
        margin-bottom: 18px;
    }

        .aside-left .sec-pro.color ul li {
            width: calc(50% - 4px);
            display: inline-block;
        }

        .aside-left .sec-pro > h3 {
            margin: 0;
            font-size: 16px;
            color: #0492ab;
            text-transform: uppercase;
            font-weight: bold;
            padding-bottom: 10px;
            border-bottom: 2px solid #0492ab;
        }

        .aside-left .sec-pro ul {
            padding: 10px 0 0;
        }

            .aside-left .sec-pro ul li {
                padding: 5px 0;
            }

.main-pro {
    width: 900px;
    display: inline-block;
    vertical-align: top;
    float: right;
    /*padding-top: 30px;*/
}

.wrap-pro-cate .pro-cate-id {
    padding: 20px 0;
}

    .wrap-pro-cate .pro-cate-id h3 {
        display: inline-block;
        margin: 0;
        font-size: 26px;
        color: #000;
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
        margin-left: 64px;
    }

        .wrap-pro-cate .pro-cate-id h3::after {
            position: absolute;
            content: "";
            background: url(../images/bor.png) no-repeat;
            width: 39px;
            height: 6px;
            top: 0;
            bottom: 0;
            right: calc(100% + 25px);
            margin: auto;
        }

    .wrap-pro-cate .pro-cate-id .filter {
        display: inline-block;
        float: right;
    }

        .wrap-pro-cate .pro-cate-id .filter select {
            height: 30px;
            border: 1px solid #000;
            line-height: 30px;
            padding: 0 20px 0 10px;
        }

.wrap-pro-cate .pro-cate {
    border-bottom: 0;
}

    .wrap-pro-cate .pro-cate .item {
        width: calc(33.33333% - 4px);
    }

/* pager */
/*===========pager=======*/
.pager::before {
    position: absolute;
    content: "";
    background: #dbdbd2;
    height: 1px;
    width: 1000%;
    top: 0;
    left: 0%;
}

.pager::after {
    position: absolute;
    content: "";
    background: #dbdbd2;
    height: 1px;
    width: 1000%;
    top: 0;
    right: 0%;
}

.pager {
    text-align: right;
    vertical-align: top;
    margin: 0;
    position: relative;
    bottom: 0;
    left: 0;
    padding: 10px 0;
    width: 100%;
    padding-top: 30px;
}

    .pager.pagersroll {
        background-color: #fff;
        -webkit-box-shadow: 3px 0 5px #ddd;
        -moz-box-shadow: 3px 0 5px #ddd;
        box-shadow: 3px 0 5px #ddd;
        padding: 7px 0 5px !important;
        position: fixed;
        text-align: center;
        width: 100%;
        z-index: 9999;
    }

    .pager a, .pager span span {
        background: transparent;
        color: #676767;
        display: inline-block;
        font-size: 14px;
        vertical-align: top;
        text-align: center;
        height: 24px;
        line-height: 24px;
        padding: 0 5px;
        min-width: 24px;
    }

        .pager a:hover, .pager a.current {
            background-color: #33c7ce;
            /*border:1px solid #009cff;*/
            color: #fff;
            text-decoration: none;
        }

    .pager .first, .pager .last,
    .pager .prev, .pager .next {
        padding: 0;
        width: 28px;
    }

        .pager .first:hover, .pager .last:hover,
        .pager .prev:hover, .pager .next:hover {
            /*background-color: #f5f5f5;*/
            background-color: transparent;
            color: #676767;
            opacity: 0.5;
        }

    .pager .first, .pager .last {
        font-size: 12px;
    }

    .pager .prev, .pager .next {
        font-size: 16px;
    }

    .pager .prev, .pager .next, .pager .last {
        background: none;
        color: #676767;
    }












/*= menu pc =*/


/*========================= Slideshow ========================*/


/* introduce items */

/*==================== effectslide tm & dv==============*/

/*===== home content =====*/


/*============================
            FOOTER
    ============================*/
#footer {
    background: #0096b1;
    padding-top: 15px;
    padding-bottom: 30px;
    margin-top: 50px;
}

    #footer .footer-left {
        width: 810px;
        display: inline-block;
        vertical-align: top;
    }

        #footer .footer-left section {
            display: inline-block;
            vertical-align: top;
            width: calc(33.3333% - 4px);
        }

            #footer .footer-left section h3 {
                font-size: 18px;
                color: #000;
            }

            #footer .footer-left section ul {
                padding-left: 15px;
            }

                #footer .footer-left section ul li a {
                    color: #000;
                    font-size: 13px;
                }

                #footer .footer-left section ul li {
                    color: #000;
                    font-size: 13px;
                    background: url(../images/li.png) no-repeat left center;
                    padding-left: 18px;
                }

        #footer .footer-left .follow {
            margin-top: 40px;
        }

            #footer .footer-left .follow span {
                margin-right: 15px;
            }

            #footer .footer-left .follow i {
                width: 30px;
                height: 30px;
                border: 1px solid #000;
                border-radius: 50%;
                text-align: center;
                line-height: 30px;
                color: #000;
            }




    #footer .footer-right {
        width: 345px;
        display: inline-block;
        float: right;
        text-align: center;
        border: 1px solid #80bfce;
        padding: 15px 0;
    }

        #footer .footer-right h2 {
            font-size: 18px;
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
            margin: 0;
        }

        #footer .footer-right p {
            font-size: 14px;
            color: #fff;
            margin-top: 10px;
        }

        #footer .footer-right span {
            font-size: 30px;
            color: #80bfce;
            display: block;
            margin-top: 10px;
        }

        #footer .footer-right input[type="text"] {
            width: 280px;
            height: 35px;
            border: 0;
            border-radius: 3px;
            color: #676767;
            font-size: 13px;
            padding: 0 15px;
            margin-top: 20px;
        }

        #footer .footer-right input[type="submit"] {
            width: 125px;
            height: 35px;
            border: 2px solid #fff;
            border-radius: 3px;
            background: transparent;
            color: #fff;
            font-size: 13px;
            text-transform: uppercase;
            font-weight: bold;
            margin-top: 14px;
        }

.copyright p {
    text-align: center;
    line-height: 40px;
    color: #000;
    margin: 0;
}

    .copyright p a {
        color: #000;
    }





/*map*/
#map_canvas {
    background-color: #fff;
    border: solid 1px #d2d2d2;
    overflow: hidden;
    height: 400px;
    padding: 3px;
    width: 100%;
    margin-top: 20px;
}

.map-info ul li span {
    width: 20px;
}

.map-info ul li a, .map-info ul li {
    color: #212121;
    font-size: 13px;
}

/*=========== breadcrumbs ==========*/
.corner {
    margin: 15px 0;
}

    .corner a > i.fa-home {
        color: #0f487e;
        font-size: 20px;
    }

    .corner span, .corner a {
        padding: 0 10px;
    }
/*=========== scroll to top ==========*/
.scroll-to-top {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 10px;
    background: #333 url("../images/scrolltop.png") no-repeat scroll center center;
    z-index: 9;
    text-align: center;
    display: none;
    vertical-align: middle;
}

    .scroll-to-top i {
        font-size: 30px;
        color: #fff;
        line-height: 35px;
    }

/*=========== page giới thiệu ==========*/


/*======== page contact ========*/

/*============ page thương mại ===========*/

/*aside*/

/*** colcontent ***/


/*======= chi tiet thuong mai ======*/

/**=========== Dịch vụ ===========**/

/* bang gia */




















/*============= menu (*style css cho menu*) ==================*/

/*========================menu mobile (*style css toggle menu(nút nhấp hiện menu)*) ==========================*/
.menu-mo {
    color: #0f487e;
    display: block;
    float: right;
    font-size: 15px;
    text-transform: uppercase;
    margin-left: 12px;
    line-height: 40px;
}

    .menu-mo span {
        color: #0f487e;
        display: block;
        float: left;
        font-size: 26px;
        line-height: 40px;
        padding-right: 5px;
    }

    .menu-mo:hover, .menu-mo:visited, .menu-mo:focus {
        color: #0f487e;
        text-decoration: none;
    }
/*========= (*style menu mobile*) ==========*/
.mobile-panel {
    background-color: #fff;
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 240px;
    /*z-index: 9999;*/
    opacity: 0;
    filter: alpha(opacity=0);
}

    .mobile-panel .menu-in {
        overflow: hidden;
        height: 100%;
        position: relative;
        width: 100%;
        z-index: 1;
    }

.mask-panel, #mask-left, #mask-right /* mask khi click ra ngoài menu thì đóng menu */ {
    background-color: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    opacity: 0;
    filter: alpha(opacity=0);
    height: 100%;
    width: 100%;
    z-index: 9998;
}

.mobile-panel p {
    padding: 0;
    margin: 0;
}
/** nút close ở menu **/
.close-menu {
    background-color: #009ed6;
    top: 0;
    position: absolute;
    overflow: hidden;
    height: 30px;
    width: 30px;
    z-index: 10;
}

    .close-menu a {
        color: #fff;
        display: block;
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        height: 100%;
        width: 100%;
    }

        .close-menu a:hover {
            text-decoration: none;
        }

#menumobile .close-menu {
    right: -30px;
}

#mobileRight .close-menu {
    left: -30px;
}

.mobile-panel .menu-mobile {
    position: relative;
    padding: 15px;
    z-index: 1;
}

.overflow {
    overflow: hidden;
}
/*===========================*/
/*================ transition menu =================*/
.panel-reveal {
    -ms-transform: none; /* IE 9 */
    -webkit-transform: none; /* Chrome, Safari, Opera */
    transform: none;
}

    .panel-reveal .mobile-panel {
        -ms-transform: none; /* IE 9 */
        -webkit-transform: none; /* Chrome, Safari, Opera */
        transform: none;
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /*IE8+*/
        filter: alpha(opacity=0); /* IE7 and lower */
        z-index: -1;
    }

    .panel-reveal .mobilep-left {
        -webkit-box-shadow: -5px 0 5px rgba(0, 0, 0, 0.15) inset; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow: -5px 0 5px rgba(0, 0, 0, 0.15) inset; /* Firefox 3.5 - 3.6 */
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.15) inset; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
        /*left: -100%;*/
    }

    .panel-reveal .mobilep-right {
        -webkit-box-shadow: 5px 0 5px rgba(0, 0, 0, 0.15) inset; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow: 5px 0 5px rgba(0, 0, 0, 0.15) inset; /* Firefox 3.5 - 3.6 */
        box-shadow: 5px 0 5px rgba(0, 0, 0, 0.15) inset; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    }
    /*================== translate3d đẩy menu ra ========================*/
    .panel-reveal .open-in {
        z-index: 1;
    }

    .panel-reveal .mobilep-right {
        left: auto;
        right: 0;
    }

    .panel-reveal #wrapper-in {
        -ms-transition: transform 300ms ease 0s; /* IE 9 */
        -webkit-transition: transform 300ms ease 0s; /* Chrome, Safari, Opera */
        transition: transform 300ms ease 0s;
    }

.mobile-active-left #wrapper-in {
    -ms-transform: translate3d(240px, 0px, 0px); /* IE 9 */
    -webkit-transform: translate3d(240px, 0px, 0px); /* Chrome, Safari, Opera */
    transform: translate3d(240px, 0px, 0px);
}

.mobile-active-left .mask-panel {
    left: 240px;
}

.mobile-active-right #wrapper-in {
    -ms-transform: translate3d(-240px, 0px, 0px); /* IE 9 */
    -webkit-transform: translate3d(-240px, 0px, 0px); /* Chrome, Safari, Opera */
    transform: translate3d(-240px, 0px, 0px);
}

.mobile-active-right .mask-panel {
    left: auto;
    right: 240px;
}
/*====================================*/
.menu-mobile .title {
    color: #000;
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 24px;
}
/*================= style menu lúc responsive ===================*/
.menu-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

    .menu-nav > li {
        padding-top: 1px;
    }

        .menu-nav > li > a {
            background-color: #0f487e;
            color: #fff;
            display: block;
            font-size: 15px;
            font-weight: 700;
            line-height: 24px;
            padding: 7px 25px 7px 10px;
            text-transform: uppercase;
            position: relative;
        }

    .menu-nav .iconar {
        display: block;
        font-size: 22px;
        text-align: right;
        height: 30px;
        line-height: 30px;
        right: 5px;
        top: 50%;
        margin-top: -15px;
        position: absolute;
        width: 30px;
        opacity: 0.8;
    }

    .menu-nav a:hover {
        text-decoration: none;
    }

    .menu-nav > li > a:hover, .menu-nav > li:hover > a, .menu-nav > li.active > a {
        background-color: #de0004;
    }

    .menu-nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .menu-nav > li > ul {
        background-color: #fff;
    }

    .menu-nav ul li {
        padding-top: 1px;
    }

    .menu-nav ul a {
        background-color: #636363;
        color: #fff;
        display: block;
        font-size: 15px;
        line-height: 22px;
        padding: 5px 10px;
        position: relative;
        text-transform: capitalize;
    }

    .menu-nav ul a {
        padding-left: 20px;
    }

    .menu-nav ul ul a {
        font-size: 14px;
        line-height: 20px;
        padding-left: 30px;
    }

    .menu-nav ul ul ul a {
    }

        .menu-nav ul ul ul a .iconl {
            display: none;
        }

    .menu-nav ul .iconl {
        display: block;
        height: 20px;
        line-height: 18px;
        left: 10px;
        top: 6px;
        position: absolute;
        width: 14px;
    }

    .menu-nav ul ul .iconl {
        left: 20px;
    }

    .menu-nav ul li > a:hover, .menu-nav ul li:hover > a, .menu-nav ul li.active > a {
        color: #fef738;
    }

.menu-mobile .title {
    font-size: 16px;
}

#menuProduct > li > a {
    font-size: 15px;
}

#menuProduct ul li a {
    padding-left: 20px;
}
/*=================*/
.menu-mobile .logo {
    background-color: #fff;
    float: none;
    /*margin: 0 auto 15px;*/
    padding: 0;
    /*width: 180px;*/
    width: 210px;
    padding-left: 0;
}
/*============site===============*/
.site {
    background: #91deec none repeat scroll 0 0;
    padding: 5px 0 10px;
}

    .site a {
        color: #000;
        font-size: 12px;
    }

.item-content {
    position: relative;
}

.bnt-mua {
    bottom: 7px;
    position: absolute;
    right: 20px;
    opacity: 0;
}

    .bnt-mua > a {
        background: #0492ab none repeat scroll 0 0;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        padding: 5px 30px 7px;
    }

.pro-cate .item:hover .bnt-mua {
    opacity: 1;
}
/*===slider====*/
#sliderGallery .slider-big, #sliderGallery .slider-big .gallery-img {
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

#sliderGallery .gallery-img {
    text-align: center;
    width: 100%;
}

    #sliderGallery .gallery-img img, #sliderGallery .small-box img {
        /*max-width:100%;*/
    }

#sliderGallery.gallery-slider {
    margin: 0 auto;
    width: 100%;
}

#sliderGallery .slider-big, #sliderGallery .slider-big .gallery-img {
    position: relative;
    width: 100%;
    z-index: 1;
    border: solid 1px #d3d3d3;
}

#sliderGallery .slider-for .slick-prev, #sliderGallery .slider-for .slick-next {
    background: url(../images/arrow.png) no-repeat;
    border: none;
    display: block !important;
    top: 50%;
    position: absolute;
    margin-top: -22px;
    overflow: hidden;
    text-indent: -999em;
    height: 44px;
    width: 40px;
}

#sliderGallery .gallery-smalls {
    display: inline-block;
    width: 115px;
    vertical-align: top;
    float:left;
}

.slider-for {
    width: calc(100% - 120px);
    display: inline-block;
}

#sliderGallery .slider-nav .slick-prev, #sliderGallery .slider-nav .slick-next {
    background: url(../images/arrow2.png) no-repeat left top;
    border: none;
    display: block !important;
    top: 50%;
    position: absolute;
    margin-top: -12px;
    overflow: hidden;
    text-indent: -999em;
    height: 51px;
    width: 25px;
}

#sliderGallery .slider-nav .slick-prev {
    left: -40px;
    background-position: left top;
}

#sliderGallery .slider-nav .slick-next {
    right: -40px;
    background-position: right top;
}

#sliderGallery .gallery-small {
    padding: 3px 0;
}

#sliderGallery .slider-nav .slick-prev:hover {
    background-position: left bottom;
}

#sliderGallery .slider-nav .slick-next:hover {
    background-position: right bottom;
}

#sliderGallery .gallery-small .small-box {
    border: solid 1px #d3d3d3;
    overflow: hidden;
    width: 100%;
}

.slider-big {
    margin-top: 4px;
}
/*#sliderGallery .slick-current .gallery-small .small-box, #sliderGallery .gallery-small .small-box:hover {
        border-color: #37bc3e;
    }*/
.gallery-img img {
    width: 100%;
}

.slick-slide img {
    width: 100%;
}
/*=====================================*/
.product-detail-main {
    margin: 80px 0 30px;
}

.product-left {
    width: 50%;
    display: inline-block;
}

.product-right {
    width: calc(50% - 4px);
    display: inline-block;
    vertical-align: top;
    padding-left: 35px;
}

    .product-right h1 {
        font-size: 20px;
        margin: 0;
        padding: 10px 0 15px;
    }

.product-code {
    font-size: 12px;
    margin-bottom: 15px;
    padding: 5px 0;
    position: relative;
}

    .product-code::before {
        position: absolute;
        content: "";
        width: 30px;
        height: 2px;
        background: #c0c0c0;
        bottom: -5px;
        left: 0;
    }

    .product-code span {
        color: #0096b1;
        font-weight: bold;
    }

.product-price > span {
    display: block;
    text-decoration: line-through;
    color: #000;
    font-size: 14px;
}

.product-price {
    color: #006779;
    font-size: 30px;
    line-height: 30px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: 0;
    border-bottom: 2px solid #1096ae !important;
    border-radius: 0;
    color: #0492ab;
}

.nav-tabs > li > a {
    border-bottom: 2px solid transparent;
    color: #000;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #fff;
    border-bottom: 2px solid #1096ae !important;
    border: none;
    border-radius: 0;
    color: #0492ab;
}

.nav > li {
    padding: 0 15px;
}

    .nav > li > a {
        padding: 10px 0;
    }

.tab-main {
    line-height: 30px;
    padding: 10px 0;
}
/*===============them=============*/
.nav-tabs, .tab-content {
    padding: 0 0 0 60px;
}

.product-content {
    margin-bottom: 20px;
}

.product-all {
    border-top: 1px solid #e3e3e3;
    padding: 20px 0;
}

    .product-all h2 {
        color: #000;
        display: inline-block;
        font-size: 26px;
        font-weight: bold;
        margin: 30px 0;
        position: relative;
        padding-left: 60px;
        text-transform: uppercase;
    }

        .product-all h2::before {
            background: rgba(0, 0, 0, 0) url("../images/bor.png") no-repeat scroll 0 0;
            bottom: 0;
            content: "";
            height: 6px;
            left: 0;
            margin: auto;
            position: absolute;
            top: 0;
            width: 39px;
        }

.product-right .info {
    border: 1px solid #e3e3e3;
    margin-top: 25px;
    padding: 20px 0;
}

    .product-right .info li {
        padding: 10px 0;
    }

        .product-right .info li .label {
            display: inline-block;
            width: 100px;
            line-height: 30px;
            vertical-align: top;
            color: #000;
            font-size: 14px;
            font-weight: normal;
        }

        .product-right .info li .color {
            display: inline-block;
            width: 242px;
            vertical-align: top;
        }

            .product-right .info li .color .items span, .product-right .info li .color .items a {
                width: 28px;
                height: 28px;
                text-indent: -9999px;
                display: block;
                color: #fff;
            }

            .product-right .info li .color .items img {
                display: block;
                width: 100%;
                height: 100%;
            }

            .product-right .info li .color .items {
                display: inline-block;
                border: 1px solid #ccc;
                padding: 1px;
                box-sizing: border-box;
                cursor: pointer;
            }

                .product-right .info li .color .items.active {
                    border: 2px solid #0096b1;
                    padding: 0;
                    position: relative;
                }

                    .product-right .info li .color .items.active::before {
                        position: absolute;
                        content: "";
                        width: 0;
                        height: 0;
                        border-bottom: 14px solid #0096b1;
                        border-left: 14px solid transparent;
                        bottom: 0;
                        right: 0;
                    }

                    .product-right .info li .color .items.active::after {
                        position: absolute;
                        content: "\f00c";
                        font-size: 7px;
                        color: #fff;
                        bottom: 0;
                        right: 0;
                        height: 14px;
                        font-family: 'FontAwesome';
                    }
        /*===========*/
        .product-right .info li .size {
            display: inline-block;
            vertical-align: top;
            width: 242px;
        }

            .product-right .info li .size .items {
                border: 1px solid #ccc;
                box-sizing: border-box;
                cursor: pointer;
                display: inline-block;
                padding: 1px;
            }

                .product-right .info li .size .items span {
                    background: #f2f2f2 none repeat scroll 0 0;
                    color: #464646;
                    display: block;
                    height: 28px;
                    line-height: 28px;
                    text-align: center;
                    width: 28px;
                }

                .product-right .info li .size .items.active {
                    border: 2px solid #0096b1;
                    padding: 0;
                    position: relative;
                }

                    .product-right .info li .size .items.active::before {
                        position: absolute;
                        content: "";
                        width: 0;
                        height: 0;
                        border-bottom: 14px solid #0096b1;
                        border-left: 14px solid transparent;
                        bottom: 0;
                        right: 0;
                    }

                    .product-right .info li .size .items.active::after {
                        position: absolute;
                        content: "\f00c";
                        font-size: 7px;
                        color: #fff;
                        bottom: 0;
                        right: 0;
                        height: 14px;
                        font-family: 'FontAwesome';
                    }

.sp-quantity {
    width: 124px;
    height: 30px;
    font-family: "ProximaNova Bold", Helvetica, Arial;
    display: inline-block;
    vertical-align: top;
}

.sp-minus {
    width: 30px;
    height: 30px;
    border: 1px solid #e1e1e1;
    float: left;
    text-align: center;
}

    .sp-minus span, .sp-plus span {
        display: block;
        line-height: 30px;
        cursor: pointer;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
    }

        .sp-minus span:hover, .sp-plus span:hover {
            background: #ddd;
        }

.sp-input {
    width: 30px;
    height: 30px;
    border: 1px solid #e1e1e1;
    border-left: 0px solid black;
    float: left;
}

.sp-plus {
    width: 30px;
    height: 30px;
    border: 1px solid #e1e1e1;
    float: left;
    text-align: center;
}

.sp-input input {
    width: 30px;
    height: 28px;
    text-align: center;
    font-family: "ProximaNova Bold", Helvetica, Arial;
    border: none;
}

    .sp-input input:focus {
        border: 1px solid #e1e1e1;
        border: none;
    }

.sp-minus a, .sp-plus a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 30px;
}

    .sp-minus a:hover, .sp-plus a:hover {
        display: block;
        width: 100%;
        height: 100%;
        line-height: 30px;
        text-decoration: none;
    }

.thuonghieu {
    display: inline-block;
    line-height: 35px;
    vertical-align: top;
    font-weight: bold;
    color: #0096b1;
    font-size: 14px;
}

.btn-mua {
    margin: 20px 0;
}

.button-mua {
    background: #0492ab none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    font-size: 22.4px;
    font-weight: bold;
    padding: 7px 15px 10px;
}
/*===============dat-hang==============*/
.order1 h1, .order2 h1 {
    color: #000;
    font-size: 13px;
    font-weight: bold;
    padding: 10px 0 20px 40px;
    position: relative;
    margin: 0;
    margin-top: 30px;
}

    .order1 h1:before {
        position: absolute;
        content: "";
        background: url("../images/icon1.png") no-repeat scroll 0 0;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 35px;
        height: 38px;
    }

    .order2 h1:before {
        position: absolute;
        content: "";
        background: url("../images/icon2.png") no-repeat scroll 0 0;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 35px;
        height: 38px;
    }

.contact-lb {
    font-size: 14px;
    font-weight: normal;
    display: inline-block;
    vertical-align: top;
    width: 155px;
}

    .contact-lb span {
        color: #fd2626;
    }

.input-form {
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    width: calc(100% - 160px);
}

.contact-textbox {
    border: medium none;
    line-height: 30px;
}

.contact-textbox {
    background: #eeeeee none repeat scroll 0 0;
    border: medium none;
}

.form-w {
    margin-bottom: 10px;
}

.order-left {
    display: inline-block;
    vertical-align: top;
    width: 795px;
}

.order-form {
    border: 1px solid #e3e3e3;
    padding: 20px 40px 20px 20px;
}

.select {
    display: inline-block;
    margin-right: 13px;
    margin-top: 10px;
    width: 180px;
}

    .select:last-child {
        margin-right: 0;
    }

    .select select {
        background: #eeeeee none repeat scroll 0 0;
        border: medium none;
        width: 100%;
        border: 1px solid #e3e3e3;
        border-radius: 5px;
        height: 30px;
    }

.text-radio {
    display: inline-block;
    vertical-align: top;
}

    .text-radio > h2 {
        background: #0096b1 none repeat scroll 0 0;
        border-radius: 5px;
        color: #fff;
        font-size: 14px;
        margin: 0;
        padding: 15px 15px 15px 65px;
        position: relative;
    }

.radio-left .text-radio > h2::before {
    background-image: url("../images/icon3.png");
    background-size: 100% auto;
    content: "";
    height: 22px;
    left: 10px;
    position: absolute;
    top: 13px;
    width: 33px;
    z-index: 1;
}

.text-radio > h2::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 45px;
    background: #01839a;
    left: 0;
    top: 0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.radio-right .text-radio > h2::before {
    background-image: url("../images/icon4.png");
    background-size: 100% auto;
    content: "";
    height: 22px;
    left: 10px;
    position: absolute;
    top: 13px;
    width: 26px;
    z-index: 1;
}

.radio-left > input, .radio-right > input {
    font-size: 20px;
    margin-right: 10px;
    margin-top: 15px;
}

.radio-left {
    display: inline-block;
    width: 50%;
}

.radio-right {
    display: inline-block;
    vertical-align: top;
    width: 49%;
}

.radio-box {
    margin: 10px 0 0 30px;
}

.radio-form {
    border: 1px solid #e3e3e3;
    padding: 20px;
}

.oder-right {
    background: #eeeeee none repeat scroll 0 0;
    display: inline-block;
    margin-left: 31px;
    margin-top: 40px;
    padding: 0 15px 20px;
    vertical-align: top;
    width: 370px;
}

    .oder-right > h1 {
        color: #0096b1;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }

.box1 > h1 {
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 10px;
}

.box1 {
    background: #fff none repeat scroll 0 0;
    padding: 20px;
    border-bottom: 1px solid #eeeeee;
}

    .box1 li {
        line-height: 40px;
    }

    .box1 .label {
        color: #000;
        display: inline-block;
        font-size: 14px;
        font-weight: normal;
        text-align: left;
        width: 100px;
    }

.color-img, .size-img, .number {
    display: inline-block;
    width: 40px;
}

    .size-img > span {
        background: #e5e5e5;
        padding: 6px 15px;
    }

    .number > span {
        border: 1px solid #c3c3c3;
        padding: 4px 14px;
    }

.gia {
    display: inline-block;
    text-align: right;
    width: calc(100% - 150px);
}

.box2 {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #eeeeee;
    padding: 20px;
    font-weight: bold;
}

    .box2 span {
        float: right;
        text-align: right;
    }

.box3 {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #eeeeee;
    font-weight: bold;
    padding: 20px;
}

    .box3 > p {
        position: relative;
        padding: 0 0 0 30px;
        margin-bottom: 10px;
    }

        .box3 > p::before {
            background-image: url("../images/icon6.png");
            content: "";
            height: 16px;
            left: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 24px;
        }

    .box3 span {
        float: right;
    }

.contact-textbox1 {
    border: 1px solid #d9d9d9;
    font-weight: normal;
    height: 35px;
    padding: 0 10px;
    width: 100%;
}

.box4 {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #eeeeee;
    padding: 20px;
}

    .box4 span {
        float: right;
        text-align: right;
    }

.box5 {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #eeeeee;
    padding: 20px;
    color: #f30000;
}

    .box5 span {
        float: right;
        text-align: right;
        font-weight: bold;
    }

.box6 {
    background: #fff none repeat scroll 0 0;
    padding: 20px;
}

.button-mua1 {
    background: #0492ab none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    font-size: 18px;
    padding: 7px 0 10px;
    width: 100%;
    font-weight:bold;
}
.box7 {
    background: #fff none repeat scroll 0 0;
    padding: 20px;
}
.box7 .label {
  display: block;
  width: 100%;
  text-align: left;
  color: #000;
  font-weight: normal;
  font-size: 14px;
}
.box7 textarea {
  border: 1px solid #d9d9d9;
  width: 100%;
}
/*================================footer=====================================*/

/*================================main-content================================*/

/*================================responsive=================================*/

/* nhat05 */
.filter-price {
    padding:20px;
    border:1px solid #0097b2;    
    margin-bottom: 18px;
}
.filter-price > h3{
    margin: 0;
    font-size: 16px;
    color: #0492ab;
    text-align:center;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 10px;
}
#amount-left {
    float:left;
}
#amount-right {
    float:right;
}
#slider {
    margin-top:15px;
}
.ui-slider-horizontal {
    height:4px;
}
.ui-widget-content {
    background:#1292a9;
}
.ui-widget.ui-widget-content {    
    border: none;
    width:95%;
    display:block;
    margin:0 auto;
}
.ui-corner-all {
    border:none;
}
.ui-widget-header {
    background:#17caea;
}
.ui-state-default, .ui-widget-content .ui-state-default {
    background:url(../images/fil.png) no-repeat;
    width:13px;
    height:16px;
    border:0;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -7px;
    margin-left: -7px;
}

/** popup **/
.popup {
}
#overlay-screen-active {
    position:fixed;
    background:rgba(0,0,0,0.5);
    width:100%;
    height:100%;
    z-index:999;
    top:0;
    left:0;
}
.popup .popup-content {
    width:440px;
    height: 508px;
    padding:10px;
    background:#eeeeee;
    position:fixed;
    top:-250%;
    margin:auto;
    left:0;
    right:0;
    z-index:9999;
    box-shadow:0px 0px 15px 0px #333;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.popup .popup-content .popup-btn-close {
    position: absolute;
    top: 12px;
    right: 15px;
    cursor: pointer;
}


.popup_1 .popup-content {
    width:440px;
    height:425px;
    padding:10px;
    background:#eeeeee;
    position:fixed;
    top:-250%;
    margin:auto;
    left:0;
    right:0;
    z-index:9999;
    box-shadow:0px 0px 15px 0px #333;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.popup_1 .popup-content .popup-btn-close {
    position: absolute;
    top: 12px;
    right: 15px;
    cursor: pointer;
}

.popup_cart .popup-content {
    width:900px;
    max-width:95%;
    height:588px;
    padding:10px;
    background:#eeeeee;
    position:fixed;
    top:-250%;
    margin:auto;
    left:0;
    right:0;
    z-index:9999;
    box-shadow:0px 0px 15px 0px #333;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.popup_cart .popup-content .popup-btn-close {
    position: absolute;
    top: 12px;
    right: 15px;
    cursor: pointer;
}
.popup_cart .popup-content .wrap-contentpop {
    overflow-x:scroll;
    width:100%;
}
.popup_cart .popup-content table {
    width:840px;
}

/** end popup **/

/* custom popup */
.form-popup > h3{
    font-weight:bold;
    color:#0096b1;
    font-size:18px; 
    line-height:32px;
    letter-spacing:1.5px;
    text-transform:uppercase;
    margin:0;
    background:#fff;
    padding:10px 25px 10px 25px; 
    position:absolute;
    top:0;
    left:0;
    width:100%;
}
.wrap-contentpop {
    margin-top:52px;
    background:#fff;
    padding:15px 20px;
}
.wrap-contentpop > p{
    font-size:13px;
}
.wrap-contentpop > p > i{
    color:#0492ab;
    font-weight:bold;
    font-style:normal;
}
.wrap-contentpop > p > span a{
    color:#e63737;
    font-weight:bold;
    text-transform:uppercase;
    margin-left:60px;
}
.wrap-contentpop > p > a > i {
    width:35px;
    height:35px;
    font-size:18px;
    text-align:center;
    line-height:35px;
    border-radius:50%;
    margin:0 3px;
}
.wrap-contentpop > p > a:nth-child(1) > i{
    border:2px solid #1e6cb9;
    color:#1e6cb9;
}
.wrap-contentpop > p > a:nth-child(2) > i{
    border:2px solid #ea5353;
    color:#ea5353;
}
.wrap-contentpop .wrap-send {
    margin-top:15px;
    border-top:1px solid #eee;
    padding-top:15px;
}
.contact-input {
    float:left;
    width:100%;
    margin-bottom:10px;
}
.footer-right .contact-textbox{
    float:none !important;
}
.popup-content .contact-textbox {
    width:235px;
    float:right;
    padding:0 7px;
}
.input-code .contact-textbox{
    width:135px;
}
.input-code > img   {
    float:right;
    width:100px;
}
.check_box {
    margin-bottom:0;
}
.check_box > i{
    color:#0492ab;
    font-weight:bold;
    font-style:normal;
}
.wrap-contentpop .contact-btn .button-btn{
    width:100%;
    background:#0492ab;
    border:none;
    font-size:18px;
    font-weight:bold;
    color:#fff;
    text-align:center;
    line-height:37px;
    margin-top:20px;
    margin-bottom:15px;
}

.wrap-send > a {
    display:block;
    margin: 5px 0 10px 0;
    text-align:right;
    color:red;
}
.wrap-send > p > span a {
    font-weight:bold;
    text-transform:uppercase;
    margin-left:60px;
    color:red;
}
.popup_1 .contact-textbox {
    width: 290px;
}



.popup_cart .wrap-contentpop table th {
    height:37px;
    background:#59c8da;
    font-weight:normal;
    padding:0 10px;
}
.popup_cart .wrap-contentpop table th,.popup_cart .wrap-contentpop table td{
    text-align:center;
}
.popup_cart .wrap-contentpop table th:first-child{
    text-align:left;
    width:445px;
}
.popup_cart .wrap-contentpop table th:nth-child(2){
    width:185px;
}
.popup_cart .wrap-contentpop table th:nth-child(3){
    width:185px;
}
.popup_cart .wrap-contentpop table th:last-child{
    width:85px;
}
.popup_cart .wrap-contentpop table td .img{
    width:110px;
    display:inline-block;
    vertical-align:top;
}
.popup_cart .wrap-contentpop table tbody td {
    padding:15px 0;
}
.popup_cart .wrap-contentpop table tbody tr {
    border-bottom:1px dashed #333;
}
.popup_cart .wrap-contentpop table tbody tr:last-child {
    border-bottom:0;
}
.popup_cart .wrap-contentpop table td .img img{
    max-width:100%;
    border:1px solid rgba(0, 0, 0, 0.15);
}
.popup_cart .wrap-contentpop table td .content{
    width:270px;
    display:inline-block;
    vertical-align:top;
    text-align:left;
    padding-left:15px;
}
.popup_cart .wrap-contentpop table td .content > p{
    font-weight:bold;
    line-height:17px;
}
.popup_cart .wrap-contentpop table td .content .oder-right {
    margin:0;
    padding:0;
    background:transparent;
    width:100%;
}
.popup_cart .wrap-contentpop table td .content .oder-right .box1 {
    padding:0;
    border-bottom:0;
}
.popup_cart .wrap-contentpop table td .content .oder-right .box1 .label {
    padding:5px 0;
}
.clean-td {
    color:red;
    cursor:pointer;
}
.tinhtien {
    text-align:right;
}
.tinhtien input[type="submit"] {
    width:150px;
    height:35px;
    background:#0492ab;
    color:#fff;
    font-weight:bold;
    text-transform:uppercase;
    border:0;
    margin-left:15px;
}
.tinhtien span {
    margin-right:15px;
}
.tinhtien b {
    font-size:18px;
    font-weight:bold;
    color:red;
}
.popup_cart .form-popup > p {
    position: absolute;
    z-index: 1;
    top: 15px;
    left: 160px;
}
.popup_cart .form-popup > p > span {
    font-weight:bold;
    color:#0492ab;
}
.popup_cart .form-popup > p::before {
    position:absolute;
    content:"";
    width:1px;
    height:100%;
    background:rgba(0, 0, 0, 0.15);
    left:-15px;
    top:0;
}
.scroll-popup .mCSB_inside > .mCSB_container {
    margin-right:0;
}
/* end custom popup */

.hoanthanh-dathang {
    border:1px solid rgba(0, 0, 0, 0.15);
    border-radius:7px;
    padding-top:75px;
    padding-bottom:25px;
    padding-left:20px;
    padding-right:20px;
    margin-top:70px;
}
.hoanthanh-dathang > h2 {
    font-size:24px;
    color:#0096b1;
    font-weight:bold;
    text-transform:uppercase;
    margin-bottom:25px;
}
.hoanthanh-dathang > .tieptuc a{
    display:inline-block;
    padding:7px 25px;
    color:#0492ab;
    border:2px solid #0492ab;
    border-radius:8px;
    margin-top:15px;
}

/* */
.order-form input[type="text"]{
    width:100%;
    padding:0 15px;
}