/*==========================site styles======================*/
body {
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: "Roboto",Regular;
    font-size: 14px;
    line-height: 22px;
}

.clr {
    clear: both;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto",Regular;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a:link, a:visited {
    outline: none;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin: 0;
}

fieldset, a img, img {
    border: none;
}

:focus {
    outline: none;
}

.hidden {
    display: none;
}

hr {
    display: none;
}

#wrapper {
    position: absolute;
    min-height: 100%;
    width: 100%;
    z-index: 1;
}

#wrapper-in {
    top: 0;
    left: 0;
    position: relative;
    width: 100%;
    z-index: 99;
}

/*======================================================*/
#header {
    background: rgba(255, 255, 255, 0.8);
    height: 120px;
    left: 0;
    padding: 15px 0 0;
    position: relative;
    top: 0;
    transition: all 0.2s ease 0s;
    width: 100%;
    z-index: 3;
}

.header-bg {
    position: relative;
    z-index:9;
}

.logn-in {
    display: inline-block;
    float: right;
    vertical-align: top;
}

.logn-member {
    display: inline-block;
    position: relative;
}


    .logn-member a {
        color: #363636;
        font-size: 13px;
        text-decoration: none;
    }

.header-register {
    position: relative;
    padding-left: 20px;
    margin-right: 5px;
}

    .header-register::before {
        position: absolute;
        content: "";
        background: url(../images/icon2.png) no-repeat;
        width: 13px;
        height: 13px;
        left: 0;
        top: 40%;
        transform: translateY(-50%);
    }

.header-lognin {
    position: relative;
    padding-right: 20px;
    margin-left: 5px;
}

    .header-lognin::before {
        position: absolute;
        content: "\f0d7";
        color: #8b8b8b;
        width: 13px;
        height: 13px;
        right: 0;
        bottom: 5px;
        font-family: FontAwesome;
    }

.logn-member .lognin {
    position: absolute;
    top: 37px;
    right: 0;
    background: #fff;
    border: 1px solid #dedede;
    box-shadow: 0 1px 5px 0 rgba(102, 102, 102, 0.5);
    -webkit-box-shadow: 0 1px 5px 0 rgba(102, 102, 102, 0.5);
    -moz-box-shadow: 0 1px 5px 0 rgba(102, 102, 102, 0.5);
    width: 280px;
    display: none;
    z-index: 5;
    line-height:30px;
}

    .logn-member .lognin::before {
        background: url("../images/icon6.png") no-repeat scroll 0 0;
        content: "";
        display: block;
        height: 11px;
        position: absolute;
        right: 25px;
        top: -10px;
        width: 22px;
    }


.lognin h1 {
    color: #363636;
    font-size: 16px;
    padding: 10px 0;
    text-align: center;
}

.form-group {
    margin: 0 20px 10px;
}

.icon-user, .icon-pass {
    position: relative;
    display: block;
}

    .icon-user::before {
        position: absolute;
        content: "\f007";
        font-family: FontAwesome;
        font-size: 13px;
        top: 50%;
        left: 14px;
    }

    .icon-pass::before {
        position: absolute;
        content: "\f13e";
        font-family: FontAwesome;
        font-size: 13px;
        top: 50%;
        left: 14px;
    }

.icon-input {
    display: inline-block;
    width: 35px;
    vertical-align: top;
}

.input-group {
    border: 1px solid #afafaf;
    border-radius: 10px;
    display: block;
}

.input-lognin {
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 1px solid #afafaf;
    padding: 0 5px;
}

.password-helper label {
    color: #363636;
    font-size: 13px;
    font-weight: normal;
}

.form-group.password-helper > a {
    color: #ff6661;
    font-size: 13px;
    float: right;
}

.form-group.longin-btn {
    background: #e84273  none repeat scroll 0 0;
    border-radius: 10px;
    text-align: center;
}

.longin-btn .button-btn {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    display: block;
    font-size: 16px;
    width: 100%;
}

.form-group.register-logn {
    text-align: center;
}

    .form-group.register-logn a {
        color: #ff6661;
        font-size: 13px;
    }

.logn-bot {
    padding: 10px 0;
    text-align: center;
    background: #f3f3f3;
}

    .logn-bot > span {
        display: block;
    }

    .logn-bot img {
        max-width: 100%;
    }
/*========header-main========*/
.logo {
    display: inline-block;
    vertical-align: top;
    width: 162px;
    position: absolute;
    top: 15px;
}

.haeder-hotline p:first-child {
    color: #e84273;
    font-size: 14px;
}

.haeder-hotline p:last-child {
    font-size: 18px;
    color: #e84273;
    font-weight: bold;
}

.haeder-hotline span {
    color: #777777;
    font-size: 12px;
}

.haeder-hotline p {
    color: #363636;
    font-size: 14px;
    display: inline-block;
}

.haeder-hotline {
    display: inline-block;
    float: right;
    vertical-align: top;
    position: relative;
    margin-right: 20px;
    padding-left: 20px;
}

    .haeder-hotline::before {
        position: absolute;
        content: "";
        background: url("../images/icon1.png") no-repeat scroll 0 0;
        width: 14px;
        height: 13px;
        left: 0;
        top: 5px;
    }

.cart-bg {
    display: table;
    float: right;
    position: relative;
    margin: 10px 0 0 30px;
}

.cart-text {
    display: table-cell;
    vertical-align: middle;
    color: #000;
    font-size: 13px;
    padding-left: 20px;
    cursor: pointer;
}

.cart-img {
    position: relative;
}

.cart-numbers {
    background: #e84273 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    height: 25px;
    left: 20px;
    position: absolute;
    text-align: center;
    top: -7px;
    width: 25px;
}

.dangnhap {
    display: inline;
}

.cart-numbers > span {
    line-height: 26px;
}

.cart-box {
    position: absolute;
    top: 37px;
    right: 0;
    background: #fff;
    border: 1px solid #dedede;
    box-shadow: 0 1px 5px 0 rgba(102, 102, 102, 0.5);
    -webkit-box-shadow: 0 1px 5px 0 rgba(102, 102, 102, 0.5);
    -moz-box-shadow: 0 1px 5px 0 rgba(102, 102, 102, 0.5);
    width: 300px;
    z-index: 4;
    display: none;
}

    .cart-box::before {
        background: url("../images/icon6.png") no-repeat scroll 0 0;
        content: "";
        display: block;
        height: 11px;
        position: absolute;
        right: 25px;
        top: -10px;
        width: 22px;
    }

.cart-list {
    padding: 10px 20px;
}

    .cart-list ul {
        padding: 0;
    }

    .cart-list li {
        list-style: outside none none;
        line-height: 25px;
    }

.price-cart {
    color: #e84273 ;
    float: right;
    font-size: 15px;
}

.sum-cart {
    text-align: right;
    border-bottom: 1px solid #f3f3f3;
    padding: 10px 20px;
    font-size: 18px;
}

    .sum-cart span {
        color: #ff6661;
    }

.cart-book > a {
    color: #363636;
    font-size: 14px;
    text-decoration: none;
}

.cart-book .button-btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #e84273 none repeat scroll 0 0;
    border-bottom: medium none;
    border-image: none;
    border-left: medium none;
    border-radius: 5px;
    border-top: medium none;
    color: #fff;
    display: block;
    float: right;
    padding: 5px 10px;
    border: none;
    text-decoration: none;
}

.cart-book {
    background: #f3f3f3 none repeat scroll 0 0;
    border-top: 1px solid #fff;
    padding: 20px;
}

/*==========================*/
#header.header-sroll {
    -webkit-box-shadow: 0 3px 5px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0 3px 5px #ccc; /* Firefox 3.5 - 3.6 */
    box-shadow: 0 3px 5px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    position: fixed;
}

#header.header-sroll {
    display: none;
}

.header-sroll {
    position: fixed !important;
    top: 0;
    width: 100%;
    left: 0;
    background: #fff;
    box-shadow: 0 1px 5px 0 rgba(102, 102, 102, 0.5);
    -webkit-box-shadow: 0 1px 5px 0 rgba(102, 102, 102, 0.5);
    -moz-box-shadow: 0 1px 5px 0 rgba(102, 102, 102, 0.5);
}

    .header-sroll #menu {
        text-align: center;
    }
/*==========================menu=====================*/
.wrapper-menu {
    /*position: relative;*/
    float: right;
    /*z-index: 3;*/
    display: inline-block;
    vertical-align: top;
}

#menu {
    /*/*position: relative;*/*/
    top: 0;
    width: 100%;
    display: inline-block;
}

    #menu > ul {
        margin: 0;
        padding: 0;
        width: 100%;
    }

        #menu > ul > li {
            list-style: none;
            /*position: relative;*/
            display: inline-block;
            padding: 10px 15px;
        }

            #menu > ul > li > a {
                display: block;
                text-decoration: none;
                color: #181818;
                font-size: 14px;
                font-family: 'UTM Avo';
            }

            #menu > ul > li:hover > a, #menu > ul > li:focus > a, #menu > ul > li.active > a {
                color: #e84273;
            }

.header-main {
    margin: 14px 0 0;
    padding: 12px 0;
}
/*========================//====================================*/
/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
    padding-right: 0;
    *padding-right: 0; /* no CSS arrows for IE7 (lack pseudo-elements) */
}
    /* styling for both css and generated arrows */
    .sf-arrows .sf-with-ul:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0.5em;
        margin-top: -3px;
        height: 0;
        width: 0;
        /* order of following 3 rules important for fallbacks to work */
        border: 5px solid transparent;
        border-top-color: #fff; /* edit this to suit design (no rgba in IE8) */
        border-top-color: #fff;
    }

.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
    border-top-color: #fff; /* IE8 fallback colour */
}
/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
    margin-top: -5px;
    margin-right: -3px;
    border-color: transparent;
    border-left-color: #fff; /* edit this to suit design (no rgba in IE8) */
    border-left-color: #fff;
}

.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
    border-left-color: #fff;
}

#menu > li > .sf-with-ul:after {
    border: none;
}

/*========================menu mobile=================================================================*/
.menu-mo {
    color: #000;
}

    .menu-mo span {
        display: block;
        float: left;
        font-size: 26px;
        line-height: 98px;
        padding-right: 5px;
    }

    .menu-mo:hover, .menu-mo:visited, .menu-mo:focus {
        color: #000;
        text-decoration: none;
    }

.overflow {
    overflow: hidden;
}
/*===================*/
.mobile-panel {
    background-color: #fff;
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 240px;
    /*z-index: 9999;*/
    opacity: 0;
    filter: alpha(opacity=0);
}

    .mobile-panel .menu-in {
        overflow: hidden;
        height: 100%;
        position: relative;
        width: 100%;
        z-index: 1;
    }

.mask-panel, #mask-left, #mask-right {
    background-color: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    opacity: 0;
    filter: alpha(opacity=0);
    height: 100%;
    width: 100%;
    z-index: 9998;
}

.mobile-panel p {
    padding: 0;
    margin: 0;
}

.close-menu {
    background-color: #ff6661;
    top: 0;
    position: absolute;
    overflow: hidden;
    height: 30px;
    width: 30px;
    z-index: 10;
}

    .close-menu a {
        color: #fff;
        display: block;
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        height: 100%;
        width: 100%;
    }

        .close-menu a:hover {
            text-decoration: none;
        }

#menumobile .close-menu {
    right: -30px;
}

#mobileRight .close-menu {
    left: -30px;
}

.mobile-panel .menu-mobile {
    position: relative;
    padding: 15px;
    z-index: 1;
}
/*===========================*/
.panel-overlay .mobile-panel {
    -ms-transition: transform 300ms ease 0s; /* IE 9 */
    -webkit-transition: transform 300ms ease 0s; /* Chrome, Safari, Opera */
    transition: transform 300ms ease 0s;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; /*IE8+*/
    filter: alpha(opacity=100); /* IE7 and lower */
    z-index: 9999;
}

.panel-overlay .mobilep-left {
    -webkit-box-shadow: 3px 0 6px #000; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 3px 0 6px #000; /* Firefox 3.5 - 3.6 */
    box-shadow: 3px 0 6px #000; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    /*left: -100%;*/
}

.panel-overlay .mobilep-right {
    -webkit-box-shadow: -3px 0 6px #000; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: -3px 0 6px #000; /* Firefox 3.5 - 3.6 */
    box-shadow: -3px 0 6px #000; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

body .mobilep-left {
    -ms-transform: translate3d(-120%, 0px, 0px); /* IE 9 */
    -webkit-transform: translate3d(-120%, 0px, 0px); /* Chrome, Safari, Opera */
    transform: translate3d(-120%, 0px, 0px);
    left: 0;
    right: auto;
}

body .mobilep-right {
    -ms-transform: translate3d(120%, 0px, 0px); /* IE 9 */
    -webkit-transform: translate3d(120%, 0px, 0px); /* Chrome, Safari, Opera */
    transform: translate3d(120%, 0px, 0px);
    right: 0;
    left: auto;
}

.panel-overlay .mobile-active {
    transform: none;
}
/*===================================*/
.panel-reveal {
    -ms-transform: none; /* IE 9 */
    -webkit-transform: none; /* Chrome, Safari, Opera */
    transform: none;
}

    .panel-reveal .mobile-panel {
        -ms-transform: none; /* IE 9 */
        -webkit-transform: none; /* Chrome, Safari, Opera */
        transform: none;
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /*IE8+*/
        filter: alpha(opacity=0); /* IE7 and lower */
        z-index: -1;
    }

    .panel-reveal .mobilep-left {
        -webkit-box-shadow: -5px 0 5px rgba(0, 0, 0, 0.15) inset; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow: -5px 0 5px rgba(0, 0, 0, 0.15) inset; /* Firefox 3.5 - 3.6 */
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.15) inset; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
        /*left: -100%;*/
    }

    .panel-reveal .mobilep-right {
        -webkit-box-shadow: 5px 0 5px rgba(0, 0, 0, 0.15) inset; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow: 5px 0 5px rgba(0, 0, 0, 0.15) inset; /* Firefox 3.5 - 3.6 */
        box-shadow: 5px 0 5px rgba(0, 0, 0, 0.15) inset; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    }
    /*==========================================*/
    .panel-reveal .open-in {
        z-index: 1;
    }

    .panel-reveal .mobilep-right {
        left: auto;
        right: 0;
    }

    .panel-reveal #wrapper-in {
        -ms-transition: transform 300ms ease 0s; /* IE 9 */
        -webkit-transition: transform 300ms ease 0s; /* Chrome, Safari, Opera */
        transition: transform 300ms ease 0s;
    }

.mobile-active-left #wrapper-in {
    -ms-transform: translate3d(240px, 0px, 0px); /* IE 9 */
    -webkit-transform: translate3d(240px, 0px, 0px); /* Chrome, Safari, Opera */
    transform: translate3d(240px, 0px, 0px);
}

.mobile-active-left .mask-panel {
    left: 240px;
}

.mobile-active-right #wrapper-in {
    -ms-transform: translate3d(-240px, 0px, 0px); /* IE 9 */
    -webkit-transform: translate3d(-240px, 0px, 0px); /* Chrome, Safari, Opera */
    transform: translate3d(-240px, 0px, 0px);
}

.mobile-active-right .mask-panel {
    left: auto;
    right: 240px;
}
/*====================================*/
.menu-mobile .title {
    color: #000;
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 24px;
}
/*====================================*/
.menu-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

    .menu-nav > li {
        padding-bottom: 1px;
    }

        .menu-nav > li > a {
            background-color: #46bbc5;
            color: #fff;
            display: block;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            padding: 7px 25px 7px 10px;
            text-transform: uppercase;
            position: relative;
        }

    .menu-nav .iconar {
        display: block;
        font-size: 22px;
        text-align: right;
        height: 30px;
        line-height: 30px;
        right: 5px;
        top: 50%;
        margin-top: -15px;
        position: absolute;
        width: 30px;
        opacity: 0.8;
    }

    .menu-nav a:hover {
        text-decoration: none;
    }

    .menu-nav > li > a:hover, .menu-nav > li:hover > a, .menu-nav > li.active > a {
        color: #ff6661;
    }

    .menu-nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .menu-nav > li > ul {
        background-color: #fff;
    }

    .menu-nav ul li {
        padding-top: 1px;
    }

    .menu-nav ul a {
        background-color: #636363;
        color: #fff;
        display: block;
        font-size: 15px;
        line-height: 22px;
        padding: 5px 10px;
        position: relative;
        text-transform: capitalize;
    }

    .menu-nav ul a {
        padding-left: 20px;
    }

    .menu-nav ul ul a {
        font-size: 14px;
        line-height: 20px;
        padding-left: 30px;
    }

    .menu-nav ul ul ul a {
    }

        .menu-nav ul ul ul a .iconl {
            display: none;
        }

    .menu-nav ul .iconl {
        display: block;
        height: 20px;
        line-height: 18px;
        left: 10px;
        top: 6px;
        position: absolute;
        width: 14px;
    }

    .menu-nav ul ul .iconl {
        left: 20px;
    }

    .menu-nav ul li > a:hover, .menu-nav ul li:hover > a, .menu-nav ul li.active > a {
        color: #ff6661;
    }

.menu-mobile .title {
    font-size: 16px;
}
/*=================*/
.menu-mobile .logo {
    float: none;
    margin: 0 auto 15px;
    width: 180px;
}

    .menu-mobile .logo a {
        display: block;
        width: 100%;
    }
/*================*/
.box-img, .box-img img {
    display: block;
    width: 100%;
}

.fullbox-img {
    background-repeat: no-repeat;
    background-position: center center;
}

    .fullbox-img > .hideo {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /*IE8+*/
        filter: alpha(opacity=0); /* IE7 and lower */
    }

.contain-img {
    background-size: contain;
}

.cover-img {
    background-size: cover;
}

/*================banner===============*/

.nivo-controlNav {
    bottom: 10px;
}

.slick-dots {
    bottom: 10px;
    left: 0;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    vertical-align: top;
    width: 100%;
    z-index: 10;
}

    .slick-dots li {
        display: inline-block;
        padding: 0 2px;
    }

    .slick-dots button {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #fff;
        border: none;
        font-size: 0;
    }

        .slick-dots .slick-active button, .slick-dots button:hover {
            background: #ff6661;
        }

.banner-img:first-child {
    margin-bottom: 1px;
}

.banner-img img {
    width: 100%;
}
/*========site==========*/
#site {
    padding: 0 0 5px 10px;
    width: 100%;
}

    #site, #site a, #site > span {
        color: #ffbbcd;
        font-size: 12px;
        line-height: 22px;
    }

        #site a, #site > span {
            margin: 0 5px;
        }

      
/*===========pager=======*/
.pager {
    background: #fff;
    border-top: 1px dashed #8d8d8d;
    text-align: center;
    vertical-align: top;
    margin: 0;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 0 10px;
}

    .pager.pagersroll {
        background-color: #fff;
        -webkit-box-shadow: 3px 0 5px #ddd; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow: 3px 0 5px #ddd; /* Firefox 3.5 - 3.6 */
        box-shadow: 3px 0 5px #ddd; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
        padding: 7px 0 5px !important;
        position: fixed;
        text-align: center;
        width: 100%;
        z-index: 9999;
    }

    .pager a, .pager span span {
        background: #f4f4f4;
        border: 1px solid #dcdcdc;
        border-radius: 5px;
        color: #282828;
        display: inline-block;
        font-size: 14px;
        vertical-align: top;
        text-align: center;
        height: 28px;
        line-height: 28px;
        padding: 0 5px;
        min-width: 28px;
    }

        .pager a:hover, .pager a.current {
            background-color: #e84273;
            border: 1px solid #e84273;
            color: #fff;
            text-decoration: none;
        }

    .pager .first, .pager .last,
    .pager .prev, .pager .next {
        padding: 0;
        width: 28px;
    }

        .pager .first:hover, .pager .last:hover,
        .pager .prev:hover, .pager .next:hover {
            background-color: #f5f5f5;
            color: #e84273;
        }

    .pager .first, .pager .last {
        font-size: 12px;
    }

    .pager .prev, .pager .next {
        font-size: 16px;
    }
/*===============*/
#sroltop {
    bottom: 30px;
    right: 0;
    position: fixed;
    height: 40px;
    width: 40px;
    z-index: 999;
}

    #sroltop a {
        background-color: #ff6661;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        color: #fff;
        display: block;
        font-size: 28px;
        height: 100%;
        text-align: center;
        line-height: 44px;
        width: 100%;
    }

    #sroltop a {
        display: block;
    }
/*=======================footer=====================*/
.footer-top {
    background: url(../images/bg1.png) no-repeat;
    padding: 30px 0;
    background-size: 100%;
}

.footer-address > h1, .footer-list > h1 {
    font-size: 16px;
    color: #363636;
    margin-bottom: 10px;
    font-family: 'UTM Avo';
    font-weight: bold;
}

.footer-address span {
    color: #63789d;
}

.shipper {
    color: #fff;
    font-size: 12px;
    margin: 0 auto;
    padding-left: 135px;
    position: relative;
    width: 380px;
}

    .shipper::before {
        background: rgba(0, 0, 0, 0) url("../images/icon7.png") no-repeat scroll 0 0;
        content: "";
        height: 69px;
        left: 50px;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 151px;
    }

    .shipper span {
        font-size: 30px;
        color: #ffe246;
        font-weight: bold;
        text-align: left;
    }

    .shipper h1 {
        font-size: 18px;
        margin-bottom: 10px;
        font-family: 'UTM Avo';
    }

.footer-main {
    padding: 20px 0;
}

.footer-list {
    display: inline-block;
    width: 20%;
    display: inline-block;
    vertical-align: top;
}

    .footer-list > ul {
        padding: 0;
    }

    .footer-list li {
        list-style: outside none none;
        padding-left: 10px;
        position: relative;
        line-height: 27px;
    }

        .footer-list li::before {
            position: absolute;
            content: "";
            background: url(../images/icon10.png) no-repeat;
            width: 6px;
            height: 8px;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
        }

    .footer-list a {
        font-size: 14px;
        color: #363636;
        text-decoration: none;
    }

.footer-address {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

    .footer-address .address {
        padding: 0;
        margin: 0;
    }

        .footer-address .address li {
            color: #2a2a2a;
            font-size: 14px;
            list-style: outside none none;
            margin: 5px 0;
            padding-left: 20px;
            position: relative;
        }

            .footer-address .address li a {
                text-decoration: none;
                color: #2a2a2a;
            }

        .footer-address .address .fa {
            color: #e84273;
            display: block;
            left: 0;
            position: absolute;
            text-align: center;
            top: 3px;
        }

.footer-coppy {
    width: 35%;
    float: right;
    display: inline-block;
    vertical-align: top;
    text-align: right;
}

.follow-footer {
    margin-bottom: 35px;
}

.footer-coppy a {
    color: #363636;
}
/*==========================dang-ky===đang-nhap======================*/
.register-bg, .lognin-bg {
    background: #f3f3f3 none repeat scroll 0 0;
    padding: 70px 0;
}

.register-text {
    display: inline-block;
    width: 48%;
}

    .register-text > h1 {
        color: #363636;
        font-size: 16px;
        font-family: 'Roboto-Medium';
        margin-bottom: 20px;
    }

.register-content > h1 {
    color: #363636;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
}

.register-content a {
    color: #e84273;
}

.icon-mail, .icon-date {
    position: relative;
    display: block;
}

    .icon-mail::before {
        position: absolute;
        content: "\f0e0";
        font-family: FontAwesome;
        font-size: 13px;
        top: 50%;
        left: 14px;
    }

    .icon-date::before {
        position: absolute;
        content: "\f073";
        font-family: FontAwesome;
        font-size: 13px;
        top: 50%;
        left: 14px;
    }


.register-form {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #dedede;
    display: inline-block;
    float: right;
    line-height: 40px;
    text-align: center;
    vertical-align: top;
    margin-top: 20px;
    width: 48%;
    box-shadow: 0 5px 4px -3px rgba(102, 102, 102, 0.5);
    -webkit-box-shadow: 0 5px 4px -3px rgba(102, 102, 102, 0.5);
    -moz-box-shadow: 0 5px 4px -3px rgba(102, 102, 102, 0.5);
}

    .register-form > h1 {
        background: #63789d none repeat scroll 0 0;
        color: #fff;
        font-size: 16px;
        line-height: 50px;
    }

    .register-form .input-group {
        margin: 5px auto;
        width: 365px;
        /*line-height:40px;*/
    }

    .register-form .input-lognin {
        width: calc(100% - 39px);
    }

.form-group.gioitinh > span {
    padding: 0 20px;
}

.register-form .longin-btn {
    background: none;
    border-radius: 0;
    border-bottom: 1px solid #dedede;
    padding-bottom: 20px;
}

    .register-form .longin-btn .button-btn {
        background: #e84273;
        width: 365px;
        margin: 0 auto;
        border-radius: 10px;
    }

.register-form .logn-bot {
    border: 1px solid #fff;
}

.lognin-bg .lognin {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #dedede;
    box-shadow: 0 5px 4px -3px rgba(102, 102, 102, 0.5);
    display: block !important;
    line-height: 40px;
    margin: 0 auto;
    width: 700px;
}

    .lognin-bg .lognin > h1 {
        background: #63789d none repeat scroll 0 0;
        color: #fff;
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 20px;
    }

.lognin-bg .logn-bot {
    border: 1px solid #fff;
}

.lognin-bg .register-logn {
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid #dedede;
}

/*=====================main-content================*/
#mainContent {
    margin: 0 0 45px;
}

.ColContent {
   width:100%;
}



.title {
    position: relative;
    margin-bottom: 30px;
}

    .title::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background-color: #758bb2;
        left: 0;
        bottom: 0;
    }

    .title > h1 {
        display: inline-block;
        color: #fff;
        font-size: 14px;
        background: #758bb2;
        line-height: 35px;
        padding: 0 15px;
    }


/*=====================lien-he================*/
.contact-box {
    border: 1px solid #ccc;
    width: 49%;
    display: inline-block;
    padding: 10px;
    margin-bottom: 20px;
}

    .contact-box:nth-of-type(2n) {
        float: right;
    }
/*=====================dịch-vu================*/
.service-content img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
/*==================san-pham-chi-tiet=============*/
#slideProduct {
    width: 300px;
    display: inline-block;
}

    #slideProduct .slider-small {
        float: right;
        margin: 20px 0;
        width: 100%;
    }

    #slideProduct .item-small {
        margin-right: 10px;
    }

    #slideProduct .slick-slide img {
        margin: auto;
        max-width: 100%;
    }

    #slideProduct .slick-next {
        position: absolute;
        right: -5px;
        top: 50%;
        transform: translateY(-50%);
        background: url(../images/icon-right.png) no-repeat;
        font-size: 0;
        border: none;
    }

    #slideProduct .slick-prev {
        display: none !important;
    }

.product-info {
    float: right;
    vertical-align: top;
    width: 600px;
    padding-right: 20px;
}

    .product-info > h1 {
        color: #363636;
        font-size: 18px;
        margin-bottom: 10px;
    }

    .product-info > h1 {
        border-bottom: 1px dashed #363636;
        color: #363636;
        font-size: 18px;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

    .product-info .description {
        padding: 0 0 5px;
    }

.share-onl {
    margin: 15px 0;
}

.product-price {
    display: inline-block;
}

    .product-price > span {
        color: #ff6661;
        font-size: 22px;
        font-weight: bold;
    }

.input-numbers {
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 34px;
    width: 60px;
    padding: 5px;
}

.product-numbers {
    display: inline-block;
    float: right;
    vertical-align: top;
    margin-right: 20px;
}

    .product-numbers > span {
        display: block;
        text-align: left;
    }

.product-cart {
    display: inline-block;
    float: right;
}

    .product-cart > a {
        color: #fff;
        display: block;
        font-size: 14px;
        padding: 5px 15px 5px 110px;
        position: relative;
        text-decoration: none;
    }

        .product-cart > a::before {
            background: rgba(0, 0, 0, 0) url("../images/icon11.png") no-repeat scroll 0 0;
            content: "";
            height: 18px;
            left: 28%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 23px;
        }

.btn-muahang {
    margin: 20px 0;
}

.mua-btn {
    background: #e84273 none repeat scroll 0 0;
    border: medium none;
    border-radius: 8px;
    color: #fff;
    display: block;
    font-size: 18px;
    padding: 8px 15px;
}

.product-content {
    margin: 30px 0;
}

.col-img:first-child {
    margin-bottom: 1px;
}

.col-img img {
    width: 100%;
}

.aside-all {
    float: right;
    margin-top: 30px;
    width: 218px;
}

.product-price sup {
    text-decoration: underline;
}

.product-news {
    background: #f3f3f3 none repeat scroll 0 0;
    padding: 20px 15px;
}

.item-img img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    width: 100%;
}

.owl-carousel .owl-item img {
    width: auto;
}

.item-name {
    margin: 10px 0 5px 0;
    padding: 0 10px;
    text-align: center;
}

    .item-name > a {
        color: #000;
        font-size: 14px;
        text-decoration: none;
    }

.item-price {
    color: #e21350;
    font-size: 16px;
    padding: 0 10px;
    text-align: center;
}

    .item-price sup {
        text-decoration: underline;
    }

.product-main .item {
    margin-bottom: 20px;
    padding-bottom: 10px;
    position: relative;
}

.product-main .product-cart {
    background: rgba(226, 19, 80, 0.8) none repeat scroll 0 0;
    bottom: 0;
    display: block;
    float: none;
    margin: 0 -1px;
    opacity: 0;
    position: absolute;
    width: calc(100% + 2px);
}

.product-main .item-img {
    border: 1px solid #dedede;
    position: relative;
}

    .product-main .item-img:hover {
        border: 1px solid #ff6661;
        z-index: 2;
    }

.product-main .item:hover .product-cart {
    opacity: 1;
}

.icon-hot, .icon-new, .icon-sale {
    position: absolute;
    right: 10px;
    top: 10px;
}

.product-slide.product-main .item {
    margin: 0 0 30px 0;
}

.product-slide.product-main .item-img img {
    max-width: 100%;
}
/*=======slider=========*/
#SlideProduct .owl-nav {
    display: block !important;
}

#SlideProduct .owl-prev, #SlideProduct .owl-next {
    background-image: url("../images/control-slider.png");
    height: 30px;
    margin-top: -16px;
    position: absolute;
    text-indent: -9999px;
    width: 30px;
}

#SlideProduct .owl-prev {
    background-position: left top;
    left: -15px;
    margin: auto;
    top: 30%;
}

#SlideProduct .owl-next {
    background-position: right top;
    margin: auto;
    right: -15px;
    top: 30%;
}


/*====================san-pham============*/
.product-box {
    margin: 0 -10px 20px;
}

    .product-box .item {
        width: calc(23% - 4px);
        display: inline-block;
        vertical-align: top;
        margin: 0 10px 20px 10px;
    }

        .product-box .item img {
            width: 100%;
        }

.bg-top {
    background-image: url("../images/bg3.jpg");
    width: 100%;
    background-size: 100%;
    height: auto;
    text-align: center;
    color: #fff;
    padding: 45px 0;
    margin:0 0 40px 0;
}

    .bg-top h1 {
        font-size: 22px;
        margin-bottom: 10px;
        padding-bottom: 10px;
        position: relative;
    }

        .bg-top h1::before {
            background: #ffe246 none repeat scroll 0 0;
            bottom: 0;
            content: "";
            height: 1px;
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
            width: 70px;
        }
        .proinfo .product-box
        {
            margin:40px 0 0 0;
        }
        .proinfo p
        {
            text-align:center;
            width:80%;
            margin: 0 auto;
        }
/*==================default============*/
.tab-pane .owl-nav {
    display: block !important;
}

.tab-pane .owl-prev, .tab-pane .owl-next {
    background-image: url("../images/control-slider.jpg");
    height: 30px;
    margin-top: -16px;
    position: absolute;
    text-indent: -9999px;
    width: 30px;
}

.tab-pane .owl-prev {
    background-position: left top;
    left: -15px;
    margin: auto;
    top: 35%;
}

    .tab-pane .owl-prev:hover {
        background-position: left bottom;
    }

.tab-pane .owl-next {
    background-position: right top;
    margin: auto;
    right: -15px;
    top: 35%;
}

    .tab-pane .owl-next:hover {
        background-position: right bottom;
    }
/*==========tab===========*/
.nav-tabs.tabpro {
    border-bottom: 0;
    display: inline-block;
}

    .nav-tabs.tabpro > li > a {
        color: #181818;
        font-size: 14px;
        border: none;
        border-radius: 0;
        line-height: 24px;
        margin-right: 2px;
        position: relative;
        border-radius: 22px;
        border: 1px solid #e1e1e1;
        padding: 5px 30px;
        background: #fff;
    }

        .nav-tabs.tabpro > li > a::after {
            position: absolute;
            content: "";
            width: 18px;
            height: 45px;
            right: -18px;
            top: 0;
        }

    .nav-tabs.tabpro > li.active > a, .nav-tabs.tabpro > li.active > a:hover, .nav-tabs.tabpro > li.active > a:focus {
        border: 1px solid #fff;
        background: #758bb2;
        color: #fff;
    }

.nav-tabs.tabpro {
    border-bottom: none;
}

    .nav-tabs.tabpro > li > a:hover {
        border: 1px solid #fff;
        background: #758bb2;
        color: #fff;
    }

    .nav-tabs.tabpro > li:nth-of-type(1) > a {
        z-index: 5;
    }

    .nav-tabs.tabpro > li:nth-of-type(2) > a {
        z-index: 4;
    }

    .nav-tabs.tabpro > li:nth-of-type(3) > a {
        z-index: 3;
    }

    .nav-tabs.tabpro > li:nth-of-type(4) > a {
        z-index: 2;
    }

.list-tab {
    margin: 40px auto;
    text-align: center;
}

.nav-tabs.tabpro > li {
    display: inline-block;
    float: none;
    position: relative;
    text-align: center;
    margin-left: -30px;
}
/*====================MODAL=============*/
.modal {
    overflow: visible;
    padding: 10px;
    line-height: 35px;
}

    .modal .lognin {
        display: block !important;
    }

.menu-nav .menu-sub {
    position: relative;
    left: 0;
}

.logninmobi {
    margin: 0 0 10px;
    text-align: center;
    padding: 5px;
    background: #ddd;
}

    .logninmobi a {
        color: #363636;
        font-size: 14px;
        text-decoration: none;
    }

.hotlinemobi {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
}

    .hotlinemobi span {
        color: #000;
        font-size: 15px;
        color: #ff6661;
    }
/*===========gio-hang===========*/
.cartModal {
    max-width: 850px !important;
}

.table-book {
    width: 100%;
    display: inline-block;
}

.money-all {
    border-top: 1px solid #ccc;
    color: #ff6661;
    font-size: 20px;
    margin: 0 30px 0 0;
    padding: 20px 0;
    text-align: right;
}

.table-book tr {
    line-height: 40px;
}

.table-book table {
    width: 100%;
}

.text-number {
    height: 30px;
    width: 50px;
}

.book-name {
    width: 45%;
}

.book-cancel1 span {
    padding-left: 7px;
}

.book-number1 span {
    line-height: 15px;
}

.money-all {
    color: #ff6661;
    text-align: right;
    margin-right: 30px;
    font-size: 20px;
}

    .money-all span {
        font-size: 25px;
        font-weight: bold;
    }

.dathang-btn {
    text-align: center;
}

    .dathang-btn a {
        background: #e84273 none repeat scroll 0 0;
        border-radius: 10px;
        text-align: center;
        border: none;
        color: #fff;
        padding: 10px 20px;
        text-decoration: none;
    }

        .dathang-btn a:hover {
            background: #758bb2 ;
        }

.item-price > span {
    text-decoration: line-through;
    font-size: 20px;
}

.price-sale {
    color: #ed5854;
    font-size: 24px;
    padding: 0 10px;
    margin: 5px 0;
}
/*===============DAT-HANG=============*/
.cart-main {
    margin-bottom: 30px;
}

.contact-lb {
    font-size: 14px;
    font-weight: normal;
    display: inline-block;
    vertical-align: top;
    width: 155px;
}

    .contact-lb span {
        color: #fd2626;
    }

.input-form {
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    width: calc(100% - 160px);
}

.contact-textbox {
    background: #eeeeee none repeat scroll 0 0;
    border: medium none;
    width: 100%;
    line-height: 30px;
    padding: 0 5px;
}

.form-w {
    margin-bottom: 10px;
}

.order-left {
    display: inline-block;
    vertical-align: top;
    width: 795px;
}

.order-form {
    border: 1px solid #e3e3e3;
    padding: 20px 40px 20px 20px;
}

.select {
    display: inline-block;
    margin-right: 13px;
    margin-top: 10px;
    width: 180px;
}

    .select:last-child {
        margin-right: 0;
    }

    .select select {
        background: #eeeeee none repeat scroll 0 0;
        border: medium none;
        width: 100%;
        border: 1px solid #e3e3e3;
        border-radius: 5px;
        height: 30px;
    }

.text-radio {
    display: inline-block;
    vertical-align: top;
}

    .text-radio > h2 {
        background: #758bb2 none repeat scroll 0 0;
        border-radius: 5px;
        color: #fff;
        font-size: 14px;
        margin: 0;
        padding: 15px 15px 15px 65px;
        position: relative;
    }

.radio-left .text-radio > h2::before {
    background-image: url("../images/icon12.png");
    background-size: 100% auto;
    content: "";
    height: 22px;
    left: 10px;
    position: absolute;
    top: 13px;
    width: 33px;
    z-index: 1;
}

.text-radio > h2::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 45px;
    background: #5d6e8c;
    left: 0;
    top: 0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.radio-right .text-radio > h2::before {
    background-image: url("../images/icon13.png");
    background-size: 100% auto;
    content: "";
    height: 22px;
    left: 10px;
    position: absolute;
    top: 13px;
    width: 26px;
    z-index: 1;
}

.radio-left > input, .radio-right > input {
    font-size: 20px;
    margin-right: 10px;
    margin-top: 15px;
}

.radio-left {
    display: inline-block;
    width: 50%;
}

.radio-right {
    display: inline-block;
    vertical-align: top;
    width: 49%;
}

.radio-box {
    margin: 10px 0 0 30px;
}

.radio-form {
    border: 1px solid #e3e3e3;
    padding: 20px;
}
/*============dat-hang-thanh-cong=============*/
.thanhcong {
    padding: 20px;
    min-height:500px;
}

    .thanhcong > h1 {
        color: #758bb2 ;
        font-size: 20px;
        padding-bottom: 20px;
    }

.code-product {
    color: #ff6661;
    font-weight: bold;
}
/*================================================*/
.productMain {
    margin-bottom: 40px;
}

.title-main {
    text-align: center;
    margin-bottom: 25px;
}

    .title-main > h1 {
        color: #000;
        font-size: 22px;
        padding-bottom: 10px;
        position: relative;
    }

        .title-main > h1::before {
            position: absolute;
            content: "";
            height: 1px;
            width: 70px;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background: #e21350;
        }

.list-pro {
    background: #e84273;
    padding: 15px;
    margin-bottom: 25px;
}

    .list-pro ul {
        padding: 0;
        margin: 0;
    }

    .list-pro img {
        display: block;
        margin: 0 auto;
    }

    .list-pro ul li {
        list-style: none;
        display: inline-block;
        padding: 0 24px;
    }

        .list-pro ul li a {
            color: #fff;
            display: block;
            text-decoration: none;
            font-size: 12px;
        }

        .list-pro ul li:hover a, .list-pro ul li:focus a, .list-pro ul li.active a {
            color: #ffe246;
        }

    .list-pro span {
        display: block;
        margin-top: 5px;
    }

.productinfo {
    background-image: url("../images/bg2.jpg");
    width: 100%;
    background-size: 100%;
    height: auto;
    padding-top: 195px;
}

.pro-info .item {
    display: inline-block;
    margin: 0 10px 20px;
    vertical-align: top;
    width: calc(23% - 4px);
}

.pro-info {
    margin: 0 -10px 20px;
}

    .pro-info .item-img {
        margin-bottom: 10px;
    }

    .pro-info .item-name {
        padding: 10px 0;
    }

        .pro-info .item-name a {
            background: #e84273 none repeat scroll 0 0;
            border-radius: 20px;
            color: #fff;
            font-size: 18px;
            padding: 7px 20px;
        }

        .pro-info .item-name:hover a {
            background: #758bb2;
        }
        /*===============News================*/
.news-bg {
    margin: 30px -25px;
}

    .news-bg .item {
        display: inline-block;
        padding: 0 25px;
        width: calc(33.3333% - 4px);
        vertical-align: top;
        position: relative;
        margin-bottom:20px;
    }

    .news-bg .item-img img {
        width: 100%;
    }

.news-bg .item-name {
    padding: 0 0 10px 0;
    text-align:left;
}

    .item-name > a {
        color: #252525;
        font-size: 16px;
        font-family: 'Roboto-Medium';
        text-decoration: none;
    }

.item-box {
    background: #fff none repeat scroll 0 0;
    margin-left: 20px;
    margin-top: -55px;
    padding: 20px;
    z-index: 2;
    position: relative;
}
.item-view
{
    margin:10px 0 0 0;
}
.item-view > a {
    color: #e84273;
}

.news-name > a {
    font-size: 14px;
    color: #323131;
    text-decoration: none;
    font-weight: bold;
}

.newsmain {
    margin: 30px 0;
}

.news-box {
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 4px);
    margin-bottom: 20px;
}

    .news-box:nth-child(2n) {
        padding-left: 20px;
    }

.news-content {
    display: inline-block;
    padding: 10px;
    vertical-align: top;
    width: calc(100% - 199px);
}

.news-img {
    width: 193px;
    height: 153px;
    display: inline-block;
}

    .news-img img {
        width: 100%;
    }

.news-wrapper {
    margin: 30px auto;
    width: 77%;
}

    .news-wrapper > h1 {
        color: #08a122;
        font-size: 18px;
        padding: 20px 0;
    }

    .news-wrapper p img {
        max-width: 100%;
        margin: 0 auto;
        display: block;
    }



















/**/
#menu ul {
    padding:0;
}
#menu ul li.mod-1 .wrap-cont-menu{
    background:#fff url(../images/mod-1.jpg) no-repeat right bottom;
}
#menu ul li .wrap-cont-menu{
    width:1000px;
    position:absolute;
    top:100%;
    left:0;
    right:0;
    margin:auto;
    z-index:99;
    padding:45px;
    display:none;
}
#menu ul li.mod-1 ul h1 {
    color:#e84273;
    font-size:14px;
    margin-bottom:30px;
}
#menu ul li.mod-1 .wrap-cont-menu ul {
    width:515px;
}
#menu ul li.mod-1 .wrap-cont-menu ul li {
    width:calc(25% - 4px);
    padding:0 15px;
    display:inline-block;
    vertical-align:top;
    text-align:center;
}
#menu ul li.mod-1 .wrap-cont-menu ul li img{
    max-width:100%;
}
#menu ul li.mod-1 .wrap-cont-menu ul li p{
    color:#363636;
    margin-top:10px;
}
/**/
#menu ul li.mod-2 .wrap-cont-menu{
    background:#fff url(../images/mod-2.jpg) no-repeat right bottom;
}
#menu ul li.mod-2 .wrap-cont-menu ul h1 {
    color:#e84273;
    font-size:14px;
    margin-bottom:15px;
}
#menu ul li.mod-2 .wrap-cont-menu ul {
    width:calc(25% - 4px);
    display:inline-block;
    vertical-align:top;
    padding:0 15px;
}
#menu ul li.mod-2 .wrap-cont-menu ul li {
    display:block;
}
#menu ul li.mod-2 .wrap-cont-menu ul li a {
    color:#363636;
}
/**/
#menu ul li.mod-3 .wrap-cont-menu{
    background:#fff url(../images/mod-3.jpg) no-repeat right bottom;
}
#menu ul li.mod-3 .wrap-cont-menu ul h1 {
    color:#e84273;
    font-size:14px;
    margin-bottom:15px;
}
#menu ul li.mod-3 .wrap-cont-menu ul {
    width:calc(50% - 4px);
    display:inline-block;
    vertical-align:top;
    padding:0 15px;
}
#menu ul li.mod-3 .wrap-cont-menu ul li {
    width:calc(50% - 4px);
    display:inline-block;
    vertical-align:top;
}
#menu ul li.mod-3 .wrap-cont-menu ul li a {
    color:#363636;
}
#menu ul li.mod-3 .wrap-cont-menu ul li a span {
    width:14px;
    height:11px;
    margin-right:5px;
    display:inline-block;
}
#menu ul li.mod-3 .wrap-cont-menu ul li a .do {
    background:#ff0000;
}
#menu ul li.mod-3 .wrap-cont-menu ul li a .cam {
    background:#ff9c00;
}
#menu ul li.mod-3 .wrap-cont-menu ul li a .hong {
    background:#ffc0cb;
}
#menu ul li.mod-3 .wrap-cont-menu ul li a .x_duong {
    background:#0000ff;
}
#menu ul li.mod-3 .wrap-cont-menu ul li a .vang {
    background:#f3e500;
}
#menu ul li.mod-3 .wrap-cont-menu ul li a .x_la {
    background:#008000;
}
#menu ul li.mod-3 .wrap-cont-menu ul li a .trang {
    background:#e9e9cc;
}
#menu ul li.mod-3 .wrap-cont-menu ul li a .nhieu {
    background: rgba(255,157,0,1);
    background: -moz-linear-gradient(top, rgba(255,157,0,1) 0%, rgba(255,157,0,1) 12%, rgba(0,255,34,1) 35%, rgba(0,0,255,1) 57%, rgba(255,0,162,1) 81%, rgba(255,0,162,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,157,0,1)), color-stop(12%, rgba(255,157,0,1)), color-stop(35%, rgba(0,255,34,1)), color-stop(57%, rgba(0,0,255,1)), color-stop(81%, rgba(255,0,162,1)), color-stop(100%, rgba(255,0,162,1)));
    background: -webkit-linear-gradient(top, rgba(255,157,0,1) 0%, rgba(255,157,0,1) 12%, rgba(0,255,34,1) 35%, rgba(0,0,255,1) 57%, rgba(255,0,162,1) 81%, rgba(255,0,162,1) 100%);
    background: -o-linear-gradient(top, rgba(255,157,0,1) 0%, rgba(255,157,0,1) 12%, rgba(0,255,34,1) 35%, rgba(0,0,255,1) 57%, rgba(255,0,162,1) 81%, rgba(255,0,162,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,157,0,1) 0%, rgba(255,157,0,1) 12%, rgba(0,255,34,1) 35%, rgba(0,0,255,1) 57%, rgba(255,0,162,1) 81%, rgba(255,0,162,1) 100%);
    background: linear-gradient(to bottom, rgba(255,157,0,1) 0%, rgba(255,157,0,1) 12%, rgba(0,255,34,1) 35%, rgba(0,0,255,1) 57%, rgba(255,0,162,1) 81%, rgba(255,0,162,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9d00', endColorstr='#ff00a2', GradientType=0 );
}