/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */
.slider-wrapper {
    position: relative;
    width: 100%;
}
.nivoSlider {
	position:relative;
	width:100%;
    height:auto;
	overflow: hidden;
    z-index: 1;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position:absolute;
	right:80px;
	bottom:150px;
	color:#fff;
	width:100%;
	z-index:8;
	padding: 5px 10px;
	opacity: 0.8;
	overflow: hidden;
	display: none;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
    background:#000;
    display: block;
	position:absolute;
    overflow: hidden;
    font-size:0;
	top: 50%;
    margin-top: -30px;
	z-index:9;
	cursor:pointer;
    height: 60px;
    width: 30px;

    opacity:0.5;
    
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;


}
.nivo-directionNav a:hover {
    opacity:1;
}
.nivo-directionNav .nivo-prevNav {
    position:absolute;
    left:0;
}
.nivo-directionNav .nivo-prevNav::before {
    content: "\f053";
    position: absolute;
    font-size: 25px;
    z-index: 9999;
    color: #fff;
    font-family: FontAwesome;
    top: 0px;
    bottom: 0;
    margin: auto;
    width: 20px;
    left: 3px;
    height: 19px;
}
.nivo-directionNav .nivo-nextNav {
    position:absolute;
    right:0;
}
.nivo-directionNav .nivo-nextNav::before {
    content: "\f054";
    position: absolute;
    font-size: 25px;
    z-index: 9999;
    color: #fff;
    font-family: FontAwesome;
    top: 0px;
    bottom: 0;
    margin: auto;
    width: 20px;
    height: 19px;
    right: 3px;
}
.nivo-directionNav .nivo-prevNav:hover {
    background-position: left bottom;
}
.nivo-directionNav .nivo-nextNav:hover {
    background-position: right bottom;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	text-align:center;
    bottom: 20px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 99;
}
.nivo-controlNav a {
    background-color: #fff;
	cursor:pointer;
    border-radius:50%;
    display: inline-block;
    font-size: 0;
    margin: 0 2px;
    height: 12px;
    width: 12px;
}
.nivo-controlNav a.active, .nivo-controlNav a:hover {
    background-color: #ff6661 ;
}
/*=======================*/