:focus {
    outline:none;
}
body{
	/*font-family: Myriad Pro;*/
	/*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 22px;
	color:#666;
}
ul, li, ol {
    padding:0;
    margin:0;
    list-style:none;
}
a:hover, a:focus {
    text-decoration:none;
}
p {
    margin:0;
}
.container {
    width:1230px;
}
#wrapper
{
    overflow: hidden;
    position: absolute;
    min-height: 100%;
    width: 100%;
    z-index: 1;
}
#wrapper-in {
    background: url(../images/bg.png);
    /*background: url(../images/header-bg.jpg) repeat center top;*/
    top: 0;
    left: 0;
    position: relative;
    width: 100%;
    z-index: 99;
    overflow: hidden;
}
.clr{
	clear: both;
}
a:visited, a:focus {
	outline: none;
}
/*========================header=================*/
#header {
    position: relative;
    width: 100%;
    z-index: 10;
}
.top-head {
    height:104px;
    position:relative;
}
.top-head::before {
    position:absolute;
    content:"";
    height:3px;
    width:100%;
    bottom:0;
    left:0;
    background: rgba(186,136,62,1);
    background: -moz-linear-gradient(left, rgba(186,136,62,1) 0%, rgba(241,222,127,1) 52%, rgba(186,136,62,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(186,136,62,1)), color-stop(52%, rgba(241,222,127,1)), color-stop(100%, rgba(186,136,62,1)));
    background: -webkit-linear-gradient(left, rgba(186,136,62,1) 0%, rgba(241,222,127,1) 52%, rgba(186,136,62,1) 100%);
    background: -o-linear-gradient(left, rgba(186,136,62,1) 0%, rgba(241,222,127,1) 52%, rgba(186,136,62,1) 100%);
    background: -ms-linear-gradient(left, rgba(186,136,62,1) 0%, rgba(241,222,127,1) 52%, rgba(186,136,62,1) 100%);
    background: linear-gradient(to right, rgba(186,136,62,1) 0%, rgba(241,222,127,1) 52%, rgba(186,136,62,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba883e', endColorstr='#ba883e', GradientType=1 );
}
.logo {
    width:268px;
    display:inline-block;
    margin-top:25px;
}
.right-head {
    float:right;
    margin-top:25px;
}
.right-head .log {
    display:inline-block;
}
.right-head .log{
    color:#818181;
    font-size:12px;
    margin-right:20px;
}
.right-head .log a{
    color:#818181;
    font-size:12px;
    text-transform:uppercase;
    transition:all 0.5s ease;
}
.right-head .log a:hover {
    color:#c09966;
}
.right-head .search {
    display:inline-block;
    vertical-align:middle;
    position:relative;
}
.right-head .search input[type="text"]{
    width:320px;
    height:51px;
    border:1px solid #d2d2d2;
    border-radius:25px;
    padding:0 50px 0 15px;
    font-style:italic;
}
.right-head .search input[type="submit"]{
    position:absolute;
    background:url(../images/search.png) no-repeat;
    width:44px;
    height:44px;
    border-radius:50%;
    border:none;
    top:0;
    bottom:0;
    margin:auto;
    right:5px;
}
.right-head .cart {
    display:inline-block;
    vertical-align:top;
    position:relative;
}
.right-head .cart span {
    width:32px;
    height:32px;
    border-radius:50%;
    background: rgba(180,182,185,1);
    background: -moz-linear-gradient(left, rgba(180,182,185,1) 0%, rgba(215,218,222,1) 52%, rgba(180,182,185,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(180,182,185,1)), color-stop(52%, rgba(215,218,222,1)), color-stop(100%, rgba(180,182,185,1)));
    background: -webkit-linear-gradient(left, rgba(180,182,185,1) 0%, rgba(215,218,222,1) 52%, rgba(180,182,185,1) 100%);
    background: -o-linear-gradient(left, rgba(180,182,185,1) 0%, rgba(215,218,222,1) 52%, rgba(180,182,185,1) 100%);
    background: -ms-linear-gradient(left, rgba(180,182,185,1) 0%, rgba(215,218,222,1) 52%, rgba(180,182,185,1) 100%);
    background: linear-gradient(to right, rgba(180,182,185,1) 0%, rgba(215,218,222,1) 52%, rgba(180,182,185,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4b6b9', endColorstr='#b4b6b9', GradientType=1 );
    border:2px solid #fff;
    display:inline-block;
    text-align:center;
    line-height:30px;
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
    right:-16px;
}

.bot-head,.top-head {
    background:#fff;
}
/* menu desktop */
#menu > li {
    float:left;
}
#menu > li:first-child a{
    padding-left:0;
}
#menu > li:last-child a{
    padding-right:0;
}
#menu > li a {
    font-size:15px;
    color:#000;
    text-transform:uppercase;
    line-height:43px;
    padding:0 22px;
    font-weight:500;
    display:block;
}
#menu > li:last-child a{
    color:#d50000;
    font-weight:bold;
}
#menu > li a:hover {
    color:rgba(186,136,62,1);
}

/**/
.carousel-control {
    width:32px;
    height:32px;
    margin:auto;
}
.carousel-control.left {
    left:20px;
}
.carousel-control.right {
    right:20px;
}
.carousel-control.left,.carousel-control.right {
    background:none;
}















































/*=======================tin-tuc=============*/

/*======slide=======*/

/*===============video============*/




/*===========pager=======*/
.pager::before {
    position:absolute;
    content:"";
    background:#dbdbd2;
    height:1px;
    width:1000%;
    top:0;
    left:0%;
}
.pager::after {
    position:absolute;
    content:"";
    background:#dbdbd2;
    height:1px;
    width:1000%;
    top:0;
    right:0%;
}
.pager
{
    text-align: center;
    vertical-align: top;
    margin: 0;
    position: relative;
    bottom: 0;
    left: 0;
    padding: 10px 0;
    width: 100%;
    padding-top:30px;
}
.pager.pagersroll
{
    background-color: #fff;
    -webkit-box-shadow: 3px 0 5px #ddd;  
    -moz-box-shadow:    3px 0 5px #ddd;  
    box-shadow:         3px 0 5px #ddd;  
    padding: 7px 0 5px !important;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 9999;
}
.pager a, .pager span span
{
    background: rgba(126,79,45,0.5);
    color: #fff;
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
    text-align: center;
    height: 33px;
    line-height: 33px;
    padding: 0 5px;
    min-width: 33px;
}
.pager a:hover, .pager a.current
{ 
    background-color: #e7872b;
    /*border:1px solid #009cff;*/
    color: #fff;
    text-decoration: none;
}
    .pager .first, .pager .last,
    .pager .prev, .pager .next {
        padding: 0;
        width: 28px;
    }
    .pager .first:hover, .pager .last:hover,
    .pager .prev:hover, .pager .next:hover {
        /*background-color: #f5f5f5;*/
        background:none;
        color: #009cff;

    }
    .pager .first, .pager .last {
        font-size: 12px;
    }
.pager .prev, .pager .next {
    font-size: 16px;
}
.pager .prev, .pager .next, .pager .last {
    background:none;
    color: rgba(126,79,45,0.5);
}
/*============================
            FOOTER
    ============================*/


/*map*/
/*================== maps ===================*/
#map .box .fa {
    color:#297db3 ;
    display: inline-block;
    width:25px;
}
#map .box .fa {
    width: 20px;
}
.map-wrap
{
    background-color: #fff;
    border: solid 1px #d2d2d2;
    overflow: hidden;
    height: 480px;
    padding: 3px;
    width: 100%;
}
#mapwrap {
    height: 500px;
    width: 100%;
}
#map
{
    height: 100%;
    width: 100%;
}
#map .box
{
    width: 340px;
}
#map .box, #map .box a
{
    color: #282828;
    font-size: 14px;
    line-height: 22px;
}
#map .box .title-2
{
    color: #297db3 ;
    font-weight: 700;
    margin-bottom: 10px;
}
#map .box p
{
    margin: 0;
    position: relative;
}
    #map .box .title-2 {
        background: none;
        padding-bottom: 0;
    }
#map .ml {
    margin-left: 15px;
}
#map .box .glyphicon
{
    color: #b1b1b1;
    height: 18px;
    line-height: 18px;
    width: 16px;
}
#map .box .iconl {
    display: block;
    left: 0;
    top: 0;
    position: absolute;
}
/*===============================*/
.mapbg {
    background-color: #fff;
}
.wrap-send .row {
    margin-left: -8px;
    margin-right: -8px;
}
.wrap-send .col-xs-6 {
    padding-left: 8px;
    padding-right: 8px;
} 

/*=========== breadcrumbs ==========*/
.corner {
    margin:15px 0;
}
.corner a > i.fa-home {
    color: #0f487e;
    font-size: 20px;
}
.corner span,.corner a {
    padding: 0 10px;
}
/*=========== scroll to top ==========*/
.scroll-to-top{
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 10px;
    display: none;
    background: #8f6a56;
    z-index: 9;
    text-align:center;
    display:table-cell;
    vertical-align:middle;
}
.scroll-to-top i{
    font-size:30px;
    color:#fff;
    line-height:35px;
}

/*=========== page giới thiệu ==========*/


/*======== page contact ========*/


/*============ page thương mại ===========*/


/*======= chi tiet thuong mai ======*/

/**=========== Dịch vụ ===========**/


/* bang gia */
















/*============= menu (*style css cho menu*) ==================*/

/*========================menu mobile (*style css toggle menu(nút nhấp hiện menu)*) ==========================*/
.menu-mo {
    color: #0f487e;
    display: block;
    float: right;
    font-size: 15px;
    text-transform: uppercase;
    margin-left: 12px;
    line-height: 40px;
}
.menu-mo span {
	color: #0f487e;
	display: block;
	float: left;
	font-size: 26px;
	line-height: 40px;
	padding-right: 5px;
}
.menu-mo:hover, .menu-mo:visited, .menu-mo:focus {
	color: #fff;
	text-decoration: none;
}
/*========= (*style menu mobile*) ==========*/
.mobile-panel
{
    background-color: #fff;
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 240px;
    /*z-index: 9999;*/
    opacity: 0;
	filter:alpha(opacity=0); 
}
.mobile-panel .menu-in
{
    overflow: hidden;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 1;
}
.mask-panel, #mask-left, #mask-right  /* mask khi click ra ngoài menu thì đóng menu */
{
    background-color: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    opacity: 0;
	filter:alpha(opacity=0); 
    height: 100%;
    width: 100%;
    z-index: 9998;
}
.mobile-panel p
{
    padding: 0;
    margin: 0;
}
/** nút close ở menu **/
.close-menu
{
    background-color: #009ed6;
    top: 0;
    position: absolute;
    overflow: hidden;
    height: 30px;
    width: 30px;
    z-index: 10;
}
.close-menu a
{
    color: #fff;
    display: block;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    height: 100%;
    width: 100%;
}
.close-menu a:hover {
	text-decoration: none;
}
#menumobile .close-menu
{
    right: -30px;
}
#mobileRight .close-menu
{
    left: -30px;
}
.mobile-panel .menu-mobile
{
    position: relative;
    padding: 15px;
    z-index: 1;
}
.overflow{
	overflow:hidden;
}
/*===========================*/
/*================ transition menu =================*/
.panel-reveal {
    -ms-transform: none; /* IE 9 */
    -webkit-transform: none; /* Chrome, Safari, Opera */
    transform: none;
}
.panel-reveal .mobile-panel
{
    -ms-transform: none; /* IE 9 */
    -webkit-transform: none; /* Chrome, Safari, Opera */
    transform: none;
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";/*IE8+*/  
        filter: alpha(opacity=0); /* IE7 and lower */ 
        z-index: -1;
}
.panel-reveal .mobilep-left
{
    -webkit-box-shadow: -5px 0 5px rgba(0, 0, 0, 0.15) inset;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    -5px 0 5px rgba(0, 0, 0, 0.15) inset;  /* Firefox 3.5 - 3.6 */
    box-shadow:         -5px 0 5px rgba(0, 0, 0, 0.15) inset;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    /*left: -100%;*/
}
.panel-reveal .mobilep-right
{
    -webkit-box-shadow: 5px 0 5px rgba(0, 0, 0, 0.15) inset;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    5px 0 5px rgba(0, 0, 0, 0.15) inset;  /* Firefox 3.5 - 3.6 */
    box-shadow:         5px 0 5px rgba(0, 0, 0, 0.15) inset;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
/*================== translate3d đẩy menu ra ========================*/
.panel-reveal .open-in{
    z-index: 1;
}
.panel-reveal .mobilep-right {
    left: auto;
    right: 0;
}
.panel-reveal #wrapper-in {
    -ms-transition: transform 300ms ease 0s; /* IE 9 */
    -webkit-transition: transform 300ms ease 0s; /* Chrome, Safari, Opera */
    transition: transform 300ms ease 0s;
}
.mobile-active-left #wrapper-in {
    -ms-transform: translate3d(240px, 0px, 0px); /* IE 9 */
    -webkit-transform: translate3d(240px, 0px, 0px); /* Chrome, Safari, Opera */
    transform: translate3d(240px, 0px, 0px);
}
.mobile-active-left .mask-panel{
    left: 240px;
}
.mobile-active-right #wrapper-in {
    -ms-transform: translate3d(-240px, 0px, 0px); /* IE 9 */
    -webkit-transform: translate3d(-240px, 0px, 0px); /* Chrome, Safari, Opera */
    transform: translate3d(-240px, 0px, 0px);
}
.mobile-active-right .mask-panel{
    left: auto;
    right: 240px;
}
/*====================================*/
.menu-mobile .title {
    color: #000;
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 24px;
}
/*================= style menu lúc responsive ===================*/
.menu-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
.menu-nav > li {
	padding-top: 1px;
}
.menu-nav > li > a {
	background-color: #0f487e;
	color: #fff;
	display: block;
	font-size: 15px;
	font-weight: 700;
	line-height: 24px;
	padding: 7px 25px 7px 10px;
	text-transform: uppercase;
	position: relative;
}
.menu-nav .iconar  {
	display: block;
	font-size: 22px;
	text-align: right;
	height: 30px;
	line-height: 30px;
	right: 5px;
	top: 50%;
	margin-top: -15px;
	position: absolute;
	width: 30px;
	opacity: 0.8;
}
.menu-nav a:hover {
	text-decoration: none;
}
.menu-nav > li > a:hover, .menu-nav > li:hover > a, .menu-nav > li.active > a {
	background-color: #de0004;
}
.menu-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
.menu-nav > li > ul {
        background-color: #fff;
}
.menu-nav ul li {
    padding-top: 1px;
}
.menu-nav ul a {
   background-color: #636363;
    color: #fff;
    display: block;
    font-size: 15px;
    line-height: 22px;
    padding: 5px 10px;
    position: relative;
    text-transform: capitalize;
}
.menu-nav ul a {
    padding-left: 20px;
}
.menu-nav ul ul a {
    font-size: 14px;
    line-height: 20px;
    padding-left: 30px;
}
.menu-nav ul ul ul a {
}
.menu-nav ul ul ul a .iconl {
	display: none;
}
.menu-nav ul .iconl {
    display: block;
    height: 20px;
    line-height: 18px;
    left: 10px;
    top: 6px;
    position: absolute;
    width: 14px;
}
.menu-nav ul ul .iconl {
    left: 20px;
}
.menu-nav ul li > a:hover, .menu-nav ul li:hover > a, .menu-nav ul li.active > a {
    color: #fef738;
}
.menu-mobile .title {
    font-size: 16px;
}
#menuProduct > li > a {
    font-size: 15px;
}
#menuProduct ul li a {
    padding-left: 20px;
}
/*=================*/
.menu-mobile .logo {
    background-color:#fff;
    float: none;
    /*margin: 0 auto 15px;*/
    padding: 0;
    /*width: 180px;*/
    width:210px;
    padding-left:0;

}
/*================*/

/*================================footer=====================================*/

/*================================main-content================================*/

/*================================responsive=================================*/
        
        
