@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff') format('woff'),
       url('../fonts/Roboto-Regular.ttf') format('truetype'),
       url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  src: url('../fonts/Roboto-Regular_0.eot');
  src: url('../fonts/Roboto-Regular_0.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


























